body{
  margin: 0px auto;
  padding: 0px;
  font-size: 14px;
  /*line-height: 140%;*/
  font-family: balloon_design !important;
}

@font-face {
	font-family: balloon_design;
	/*src: url('http://staging.za.net/balloon_design/balloondesign.ttf');*/
  src: url('http://localhost/balloon_design/res/balloondesign.ttf');
}


.menu_tbl {
  padding-top:20px;
  background-color: #151515;
  border: 0px;
  border-spacing: 0px;
  vertical-align: top;
  font-size: 18px;
}

.menu_tbl .menu_btn {
  cursor: pointer;
  color: #DEDEDE;
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  vertical-align: top;
  font-size: 18px;
}

.menu_tbl .menu_btn:HOVER {
  cursor: pointer;
  background-color: #DB1661;
  color: #DEDEDE;
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  vertical-align: top;
  font-size: 18px;
}


.footer_tbl {
  background-color: #151515;
  /*color: #db1661;*/
	color: #FFF;
  width: 100%;
  padding: 0px;
  padding-left: 100px;
  padding-right: 100px;
}

.copy_table {
	background-color: #151515;
	color: #FFF;
  padding: 0px;
}

.footer_tbl td {
  margin: 0px;
  padding: 0px;
  text-indent: 20px;
  border-spacing: 0px;
  font-size: 12px;
}

.footer_tbl th {
  text-align: left;
}

.footer_tbl h3 {
  color: #FFF;
  margin: 0px;
  padding: 0px;
}

.footer_tbl h4 {
  margin: 0px;
}

.contact_tbl{
  background-color: #151515;
  color: #FFF;
  width: 100%;
  padding: 0px;
  /*padding-left: 30%;
  padding-right: 30%;*/
}

.contact_tbl a {
  color: #DB1661;
}

h1{
	font-size: 36px;
}

h2 {
  float:left;
  padding: 0px;
  margin: 0px;
}

h3 {
  float:left;
  padding: 0px;
  margin: 0px;
}


.green_f {
  color: #CCE327;
}

.gray_f {
  color: #151515;
}

.pink_f {
  color: #DB1661;
}


table#slider_table td {
  text-align: center;
}


.footer_boxes {
  text-align: center;
  border: 2px solid #C3C3C3;
  width: 225px;
  height: 114px;
}


a:link,a:visited {
	color: #DEDEDE;
	text-decoration:none;
}

a:hover,a:active {
	color: #DEDEDE;
	text-decoration:underline;
}


a.email{
  color: #151515;
	text-decoration:none;
}

a.email:hover{
  color: #151515;
	text-decoration:underline;
}

.h1_hdr {
	color: #DB1661 !important;
}

.h2_hdr {
	color: #DB1661 !important;
}

.a_hdr {
	color: #DB1661 !important;
}


span.span_par_heading {
	font-weight:bold !important;
}

.text_ul{
	list-style-type: square;
}



#scrollbar1             { width: 520px; clear: both; margin: 20px 0 10px; }
#scrollbar1 .viewport   { width: 500px; height: 500px !important; overflow: hidden; position: relative; }
#scrollbar1 .overview   { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb      { background-color: #003D5D; }
#scrollbar1 .scrollbar  { position: relative; float: right; width: 15px; }
#scrollbar1 .track      { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb      { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable    { display: none; }
.noSelect               { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }





/*

Pink:   #DB1661
Orange: #E96711
Green:  #CCE327

menu gray : #151515
menu white: #DEDEDE

Blue: #047daf

*/



