body {
background-color:#FFFFFF;
color:#33CCFF;
}
.page_table{
border:1px solid #ababab;
}
.textbox{
color:#000000;
border:0px;
}
.textbox:HOVER{
background-color:#c4c4c4;
color:#FFFFFF;
}
.btn{
background-color:#33CCFF;
border:1px solid black;
color:#000000;
font-weight:bold;
padding:1px;
}
.btn:HOVER {
background-color:#3366FF;
color:#000000;
cursor:pointer;
font-weight:bold;
}
.menu_button{
border:1px solid black;
padding:2px;
}
.main_menu_btn{
position:absolute;
display:none;
top:15px;
}
.link{
color:blue;
cursor:pointer;
}
.tblr{
background-color:#33CCFF;
color:#000000;
}
.tblr:HOVER {
background-color:#3366FF;
color:#000000;
}
.page_inner_table {
border-collapse:collapse;
border:1px solid #ababab;
opacity:0.9;
filter:alpha(opacity=90);
}
.page_inner_header {
background-color:#3366FF;
color:#000000;
}
.info_box{
padding:2px;
}