.del_img{
	cursor:pointer;
	padding-right:20px;
}

body{
/*
	background-color: black;
	color:white;
*/
  font: 80%/1.4 tahoma, ariel, helvetica, ludica sans, sanf-serif;
}

.click_img{
	cursor: pointer;
}

.darkenBackground {
	background-color: rgb(0, 0, 0);
	opacity: 0.7;               /* Safari, Opera */
	-moz-opacity:0.70;          /* FireFox */
	filter: alpha(opacity=70);  /* IE */
	z-index: 20;
	height: 100%;
	width: 100%;
	background-repeat:repeat;
	position:fixed;
	top: 0px;
	left: 0px;
}

td#full_page{
	background-color: white;
}