body {
background-color:#000000;
color:#3333FF;
}
.btn:HOVER {
background-color:#330099;
color:#6699FF;
cursor:pointer;
font-weight:bold;
}
.btn{
background-color:#3333FF;
color:#000000;
border:1px solid black;
font-weight:bold;
padding:1px;
}
.tblr{
background-color:#00CC33;
color:#000000;
}
.tblr:HOVER {
background-color:#66FF33;
color:#444444;
}
.page_inner_header {
background-color:#336699;
color:#000000;
}
.page_inner_table {
border-collapse:collapse;
border:1px solid #000000;
opacity:0.9;
filter:alpha(opacity=90);
}
.page_table{
border:1px solid #000000;
}
.textbox{
background-color:#330099;
color:#000000;
border:0px;
}
.textbox:HOVER{
background-color:#CCCCCC;
color:#000000;
}
.menu_button{
border:1px solid black;
padding:2px;
}
.main_menu_btn{
position:absolute;
display:none;
top:15px;
}
.link{
color:blue;
cursor:pointer;
}
.info_box{
padding:2px;
}