/*!CK:1248384604!*//*1375676749,178129705*/

.bubbles ._511m{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -247px;height:2px;margin:16px 0 15px;text-align:center}
.bubbles div._511n{background-color:#edeff4;color:#999ca5;display:inline-block;font-size:10px;font-weight:bold;padding:0 5px;position:relative;top:-8px}
.fbChatMessageSubject{margin-bottom:3px;white-space:pre-wrap;word-wrap:break-word}
.fbChatSidebar{-webkit-background-clip:padding-box;background-color:#f2f4f8;border-left:1px solid rgba(0, 0, 0, .4);-webkit-box-shadow:inset 2px 0 2px -2px #b2b9c9;display:none;height:100%;position:fixed;right:0;top:0;width:205px;z-index:300}
.sidebarMode .fbChatSidebar{display:block}
.fbChatSidebar .fbChatSidebarBody{overflow:hidden;position:relative}
.fbChatSidebar .scrollableOrderedList{height:100%;width:100% !important}
.fbChatSidebar .scrollableOrderedList .uiScrollableAreaTrack{top:10px}
.fbChatSidebar .fbChatOrderedList, .fbChatSidebar .fbChatTypeaheadView{padding-top:8px}
.fbChatSidebar .fbChatSidebarMessage{background-color:#fff;border-top:1px solid #ccd0db;-webkit-box-shadow:inset 0 1px #fafafa;display:none;padding:8px}
.fbChatSidebar.notice .fbChatSidebarMessage, .fbChatSidebar.error .fbChatSidebarMessage, .fbChatSidebar.offline .fbChatSidebarMessage, .fbChatSidebar.blackbird .fbChatSidebarMessage, .fbChatSidebar.upsell .fbChatSidebarMessage{display:block}
.fbChatSidebar.blackbird .fbChatSidebarMessage .message, .fbChatSidebar.upsell .fbChatSidebarMessage .message{color:#333}
.fbChatSidebar .fbChatSidebarMessage .img{float:left;margin-top:3px}
.fbChatSidebar.notice .fbChatSidebarMessage .img{display:none}
.fbChatSidebar.error .fbChatSidebarMessage .img{margin-top:7px}
.fbChatSidebar.offline .fbChatSidebarMessage .img{background-image:url(/rsrc.php/v2/y6/r/Wk7lE1Bji1R.png);background-repeat:no-repeat;background-size:auto;background-position:-86px -135px;height:10px;width:16px}
.fbChatSidebar.error .fbChatSidebarMessage .img{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-38px -631px;height:13px;width:14px}
.fbChatSidebar.offline .fbChatSidebarMessage .message, .fbChatSidebar.error .fbChatSidebarMessage .message{margin-left:24px}
.fbChatSidebar .fbChatSidebarMessage .message .fbChatReconnectLink{white-space:nowrap}
div.fbChatSidebarDropdown .uiCloseButton{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -532px;border:0;height:24px;width:26px}
.highContrast div.fbChatSidebarDropdown .uiCloseButton{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.highContrast div.fbChatSidebarDropdown .uiCloseButton::before{content:attr(title)}
.fbSidebarFavoriteList div.fbChatSidebarDropdown .uiCloseButton{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-27px -532px}
div.fbChatSidebarDropdown .uiCloseButton:hover{background-color:#fff}
div.fbChatSidebarDropdown .openToggler .uiCloseButton{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-170px -503px;border:0 !important;border-left:1px solid #3b5998 !important;border-right:1px solid #3b5998 !important;margin:0 -1px}
div.fbChatSidebarDropdown .openToggler .uiSelectorMenuWrapper{margin-right:-1px}
.fbChatSidebarDropdown .uiMenuItem .itemLabel{white-space:normal;width:120px}
.fbChatSidebarDropdown .uiMenu .disabled{display:none}
.fbChatSidebarDropdown .uiMenu .checked .itemAnchor{font-weight:normal}
.offline .fbChatGoOnlineItem, .upsell .fbChatGoOnlineItem, .fbChatGoOfflineItem{display:block}
.offline .fbChatGoOfflineItem, .upsell .fbChatGoOfflineItem, .fbChatGoOnlineItem{display:none}
._5468.fbChatSidebar div.fbChatSidebarDropdown .uiCloseButton, ._4g5r ._56h3 div.fbChatSidebarDropdown .uiCloseButton{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-70px -10px;background-color:transparent;height:32px;width:24px}
._5468.fbChatSidebar .fbChatSidebarDropdown .uiCloseButton:hover, ._4g5r ._56h3 .fbChatSidebarDropdown .uiCloseButton:hover{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-118px -10px}
._5468.fbChatSidebar .fbChatSidebarDropdown .openToggler .uiCloseButton, ._5468.fbChatSidebar .fbChatSidebarDropdown .uiCloseButton:active, ._4g5r ._56h3 .fbChatSidebarDropdown .openToggler .uiCloseButton, ._4g5r ._56h3 .fbChatSidebarDropdown .uiCloseButton:active{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-94px -10px;background-color:#333741;border-left-color:transparent !important;border-right-color:transparent !important}
._5bcj.fbChatSidebar .fbChatSidebarDropdown{float:right}
._5bcj.fbChatSidebar div.fbChatSidebarDropdown .uiCloseButton{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-143px -12px;height:27px}
._5bcj.fbChatSidebar .fbChatSidebarDropdown .uiCloseButton:hover, ._5bcj.fbChatSidebar .fbChatSidebarDropdown .openToggler .uiCloseButton, ._5bcj.fbChatSidebar .fbChatSidebarDropdown .uiCloseButton:active{background-image:url(/rsrc.php/v2/yZ/r/ghd5ho8p8Zc.png);background-repeat:no-repeat;background-size:auto;background-position:6px -8px;background-color:transparent}
.fbChatSidebar .fbChatTypeaheadView{bottom:0;position:absolute;top:auto;width:100%}
._d3c{display:none}
._42g5 .music ._d3c, .fbChatOrderedList .music ._d3c{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-301px -868px;display:inline-block;height:12px;margin-right:8px;width:10px}
._42g5 .canvas ._d3c, .fbChatOrderedList .canvas ._d3c{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-26px -609px;display:inline-block;height:18px;margin-right:6px;width:20px}
._42g5 .birthday ._d3c, .fbChatOrderedList .birthday ._d3c{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-240px -53px;display:inline-block;height:16px;margin-bottom:4px;margin-right:3px;vertical-align:middle;width:16px}
._d3d{padding:8px 10px 10px}
._d3d ._d3e{border-bottom:1px solid #e9e9e9;margin-bottom:8px;padding:0 0 3px}
._5468 ._42g5 .music ._d3c, ._5468 .fbChatOrderedList .music ._d3c{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-210px -532px;height:10px;margin-right:2px;vertical-align:-1px;width:8px}
._5bcj ._42g5 .music ._d3c, ._5bcj .fbChatOrderedList .music ._d3c{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-304px -881px;height:9px;width:7px}
._5468 ._42g5 .canvas ._d3c, ._5468 .fbChatOrderedList .canvas ._d3c{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-162px -631px;height:13px;width:13px}
._5bcj ._42g5 .canvas ._d3c, ._5bcj .fbChatOrderedList .canvas ._d3c{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-175px -631px;height:12px;width:12px}
.fbSidebarGripper{border-bottom:1px solid #e9eaee;border-top:1px solid #cad0db;cursor:ns-resize;width:100%}
.fbSidebarFavoriteList .fbSidebarGripper{border-bottom:1px solid #fdfdfe}
.fbSidebarGripper div{background:#e4e7f0;border-bottom:1px solid #bdc5d2;border-top:1px solid #f0f1f6;height:4px;position:relative}
.fbSidebarGripper div span{background:#f0f1f6;border-top:1px solid #cad0db;display:block;height:1px;left:50%;margin-left:-6px;margin-top:1px;position:absolute;width:12px}
div.fbSidebarGripper.disabledGrip{border-color:#ccc;border-style:solid;border-width:1px 0 0;cursor:auto;height:0;margin:0;overflow:hidden;padding:0;position:static;width:auto}
.fbSidebarGripper.disabledGrip div, .fbSidebarGripper.disabledGrip:before{display:none}
._51jt ._51ju a{padding-left:5px;padding-right:10px}
._51jt ._51ju a:hover{background-color:#6d84b4;border-color:#3b5998;color:#fff;outline:none}
._51jt ._51jv{margin-right:15px;overflow:hidden;text-overflow:ellipsis}
._51jt ._51ju label{margin-top:3px}
._51jt .messagesIcon{margin-right:5px;vertical-align:bottom}
._51jw{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -647px;color:#fff;font-size:9px;font-weight:bold;height:16px;padding-top:1px;position:absolute;right:2px;text-align:center;top:-8px;width:17px}
._6nw ._51jw{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -646px;height:17px;padding-top:0;top:-10px}
.openToggler ._51jw{display:none}
._51jt .unreadCount{background-color:#d8dfea;-webkit-border-radius:2px;color:#3b5998;font-size:11px;font-weight:bold;margin-right:3px;padding:1px 4px 0;position:relative}
._51jt .promoted{font-weight:bold}
._4mq3{height:25px;min-width:201px}
.presence_error ._4mq3, .sidebarMode ._4mq3{display:none}
._4kdq ._4mq3{display:block}
._4mq3.openToggler{z-index:99}
._4mq3.openToggler .fbNubButton{display:none}
._4mq3 .fbNubButton .icon{background-image:url(/rsrc.php/v2/y6/r/Wk7lE1Bji1R.png);background-repeat:no-repeat;background-size:auto;background-position:-103px -135px;float:left;height:10px;margin:3px 4px 0 0;width:16px}
.offline ._4mq3 .fbNubButton .icon, .offline.error ._4mq3 .fbNubButton .icon{background-image:url(/rsrc.php/v2/y6/r/Wk7lE1Bji1R.png);background-repeat:no-repeat;background-size:auto;background-position:-86px -135px;height:10px;margin:3px 4px 0 0;width:16px}
.error ._4mq3 .fbNubButton .icon{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-38px -631px;height:13px;margin-top:1px;width:14px}
._4mq3 .fbNubButton .label{line-height:15px;margin-right:4px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._4mq3 .fbNubButton .label .count{color:#777}
._4mq3 .fbNubButton .label .count strong{color:#333}
._4mq3 .fbNubFlyout{bottom:0;min-height:280px;width:100%}
._6nw ._4mq3 .fbNubFlyout{bottom:-3px}
._4mq3 .fbNubFlyoutInner{border-bottom:0}
._4mq3 .fbNubFlyoutTitlebar .titlebarLabel{padding:0}
._4mq3 .fbNubFlyoutTitlebar .titlebarTextWrapper{margin:3px 3px 3px 5px}
._4mq3 .fbChatOrderedList, ._4mq3 .fbChatTypeaheadView{padding:5px 0}
._4mq3 .fbChatTypeahead, ._4mq3 .fbChatTypeahead .wrap{border-style:none}
._4mq3 .fbChatTypeahead{border-top:1px solid #dadfea}
._4mq3 .fbChatTypeahead input{background-image:url(/rsrc.php/v2/y6/r/Wk7lE1Bji1R.png);background-repeat:no-repeat;background-size:auto;background-position:left -2px;-webkit-box-sizing:border-box;height:24px;padding-left:20px;padding-right:25px}
._4mq3 div.fbChatSidebarDropdown .uiCloseButton{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-117px -557px;border:0 !important;-webkit-box-shadow:none;height:24px;width:22px}
._4mq3 div.fbChatSidebarDropdown .uiCloseButton:active, ._4mq3 div.fbChatSidebarDropdown .uiCloseButton:focus, ._4mq3 div.fbChatSidebarDropdown .uiCloseButton:hover, ._4mq3 div.fbChatSidebarDropdown .openToggler .uiCloseButton, ._4mq3 div.fbChatSidebarDropdown .openToggler .uiCloseButton:active, ._4mq3 div.fbChatSidebarDropdown .openToggler .uiCloseButton:focus, ._4mq3 div.fbChatSidebarDropdown .openToggler .uiCloseButton:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-140px -557px;background-color:#4a66a0;margin:0}
._4mq3 ._4mq7{background-color:#fff;border-top:1px solid #ccd0db;display:none;padding:6px}
.error ._4mq3 ._4mq7{display:block}
.error ._4mq3 ._4mq7 .img{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-38px -631px;float:left;height:13px;margin-top:7px;width:14px}
._4mq3 ._4mq1{margin-left:24px}
.rogerMarketingCallout .learnMoreLink{margin-left:7px}
._6nw .titlebarButtonWrapper ._510p{margin-left:1px}
._6nw .menuOpened .titlebarButtonWrapper ._510p, ._6nw .titlebarButtonWrapper ._510p:active{background:#3d5ba1 url(/rsrc.php/v2/yt/r/D47CF9k_yA8.png) repeat-x 0 -116px}
.titlebarButtonWrapper ._510p .button{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-117px -557px;width:22px}
._6nw .titlebarButtonWrapper ._510p .button{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-129px -409px;width:23px}
.titlebarButtonWrapper ._510p .button:active, .titlebarButtonWrapper ._510p .button:focus, .titlebarButtonWrapper ._510p .button:hover, .titlebarButtonWrapper ._510p .button:active, .titlebarButtonWrapper ._510p .openToggler .button, .titlebarButtonWrapper ._510p .openToggler .button:active, .titlebarButtonWrapper ._510p .openToggler .button:focus, .titlebarButtonWrapper ._510p .openToggler .button:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-140px -557px;background-color:#4a66a0;border:0}
._6nw .titlebarButtonWrapper ._510p .button:active, ._6nw .titlebarButtonWrapper ._510p .button:focus, ._6nw .titlebarButtonWrapper ._510p .button:hover, ._6nw .titlebarButtonWrapper ._510p .button:active, ._6nw .titlebarButtonWrapper ._510p .openToggler .button, ._6nw .titlebarButtonWrapper ._510p .openToggler .button:active, ._6nw .titlebarButtonWrapper ._510p .openToggler .button:focus, ._6nw .titlebarButtonWrapper ._510p .openToggler .button:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-97px -409px;background-color:transparent;outline:none}
._6nw ._510p .uiSelectorMenuWrapper{margin-top:0}
#fbTranslationsNub .fbNubFlyout{width:219px}
#fbTranslationsNub .xmode_row{line-height:15px;padding:0 10px 2px 10px}
#fbTranslationsNub .xmode_row_last{line-height:15px;margin:0 10px 0 10px;padding:5px 0 10px;border-top:1px solid #e7e7e7}
#fbTranslationsNub .xselect{padding:5px 6px}
#fbTranslationsNub .xselect select{width:100%}
#fbTranslationsNub .translation_options{padding:8px 0}
#fbTranslationsNub .xexplain{margin:5px 10px 0 10px;padding-bottom:5px;line-height:15px;border-bottom:1px solid #e7e7e7;color:#555}
.downloadDialogPositioner .downloadDialog{position:fixed;z-index:301}
.downloadDialogTopLeft .downloadDialog{left:10px;top:48px}
.downloadDialogBottomLeft .downloadDialog{left:10px;bottom:10px}
.downloadDialogIE9Bottom .downloadDialog{left:10px;bottom:108px}
.downloadDialogTitle{border-bottom:1px solid #e5eaf1;background-color:#edeff4}
.downloadDialogStep .downloadDialogStepLabel{padding-top:3px}
.sidebarMode .tickerStoryContent{max-width:158px}
.fbChatSidebar .tickerHeader{display:none}
.fbChatSidebar .ticker_container{border:0 !important;height:100% !important;width:205px !important}
.fbChatSidebar .scrollTopPrompt{width:205px !important}
.fbChatSidebar .fbFeedTicker{height:100% !important;width:100%}
.fbChatSidebar .uiSideHeader{background-color:#d8dfea !important;border-bottom:1px solid #ccd4e2 !important;border-top:0 !important;margin-bottom:0}
.fbChatSidebar .tickerStoryBlock{margin-left:0 !important}
.fbChatSidebar .fbFeedTicker .fbFeedTickerStory{background-color:transparent;border-bottom-color:transparent;border-top-color:#d8dfea;line-height:13px;padding-right:5px}
.fbChatSidebar .fbFeedTicker .tickerStoryClickable:hover{border-bottom-color:transparent !important;-webkit-box-shadow:inset 2px 0 2px -2px #b2b9c9}
.fbChatSidebar .fbFeedTicker .tickerStoryHidden, .fbChatSidebar .fbFeedTicker .tickerStoryHidden:hover{background-color:transparent !important;border-bottom-color:transparent !important;border-top-color:#d8dfea !important}
.fbChatSidebar #pagelet_ticker{height:50%;overflow:hidden;position:relative}
.fbChatSidebar .tickerStoryImage{height:28px !important;margin-left:3px !important;width:28px !important}
.fbChatSidebar .fbFeedTicker .tickerStorySelected, .fbChatSidebar .fbFeedTicker .tickerStorySelected:hover{background-position:11px 15px;border-bottom-color:#a8b2ce !important;-webkit-box-shadow:inset 2px 0 2px -2px #b2b9c9}
.fbChatSidebar .fbFeedTicker .tickerStorySelected.tickerStoryRtl, .fbChatSidebar .fbFeedTicker .tickerStorySelected.tickerStoryRtl:hover{background-position:178px 15px}
.fbChatSidebar .fbFeedTicker .fbFeedTickerStory.tickerNuxStory{background-color:#fff;border-bottom:1px solid #b0b0b0;border-top:1px solid #fff;padding:8px 8px 9px 10px;width:190px;z-index:10}
.fbChatSidebar .sidebarWithFavorites .scrollableOrderedList .uiScrollableAreaTrack{top:25px}
._50m- .titlebarText{max-width:172px}
._50m- .narrowTitleBar .titlebarText{max-width:147px}
._50m- .titlebar .addToThread{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-163px -557px;width:22px}
._50m- .titlebar .addToThread:active, ._50m- .titlebar .addToThread:focus, ._50m- .titlebar .addToThread:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-186px -557px}
._6nw ._50m- .titlebar .addToThread{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-96px -376px;width:25px}
._6nw ._50m- .titlebar .addToThread:active, ._6nw ._50m- .titlebar .addToThread:focus, ._6nw ._50m- .titlebar .addToThread:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-130px -376px}
._509v{display:block;padding:7px 4px}
._6nw ._509v{padding-top:9px}
._6nw .bubbles ._509v{padding-top:8px}
._509v ._509w{background-image:url(/rsrc.php/v2/y7/r/qqsPhasdlSp.png);background-repeat:no-repeat;background-size:auto;background-position:-81px -76px;height:12px;width:15px}
._509v:hover
._509w{background-image:url(/rsrc.php/v2/y7/r/qqsPhasdlSp.png);background-repeat:no-repeat;background-size:auto;background-position:-81px -88px}
._54_-{padding:3px 5px}
._54__{padding-right:3px;width:100%}
._54_- .uiInlineTokenizer{max-width:200px;overflow:hidden}
._54_v{background-color:#fff;padding:3px 5px}
._54_w{width:100%}
._54_x{padding:2px 3px 0 0}
._54_v .uiInlineTokenizer{border:none}
._56jk{padding:3px}
._56jl{padding-right:3px;width:100%}
._211 ._212{display:inline-block}
._211 a._213.uiButton, ._211 a._214.uiButton{line-height:34px;text-align:left}
div._211 ._213:active, div._211 ._214:active, div._211 ._213, div._211 ._214{background-color:inherit;background-image:none;border:none;border-right:1px solid #eee;-webkit-box-shadow:none;height:34px;margin:0;padding:0 10px}
._211 span._6q-{color:#a6a6a6;display:inline-block;font-weight:normal;margin-top:5px}
._211 ._213 .img, ._211 ._214 .img{margin:0 7px 4px 0;vertical-align:middle}
._211 ._9_h{height:auto;width:auto}
div._211 ._213:hover, div._211 ._214:hover{background-color:#f7f7f7}
._211 ._213:hover ._6q-, ._211 ._214:hover ._6q-{color:#888;text-decoration:none}
._d2o li{color:#3b5998;cursor:pointer;font-size:13px;font-weight:bold;height:24px;line-height:24px;min-width:180px;padding:5px}
._d2o li:hover{background-color:#ebeef4}
._d2o a{text-decoration:none}
._d2o .img{margin-right:10px;position:relative;top:3px}
._d2p .img{left:-2px}
._d2p .uiLoadingIndicatorAsync{float:right;top:6px}
._2qe{border-top:1px solid #eee;color:#666;font-weight:bold;padding:8px 10px}
._2qe ._2qf{float:right}
._2qe ._2qg, ._2qe.done ._2qf, ._2qe:hover ._2qf{display:none}
._2qe.done ._2qg, ._2qe:hover ._2qg{display:inline-block;margin-top:2px}
._4-te{height:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._2qh{border-bottom:1px solid #eee;border-top:1px solid #eee;padding:10px}
._2qh .uiCloseButton{float:right}
._2v2{display:none;text-align:center;padding:3px 0 1px}
._2v2.async_saving{display:block}
._5e52{height:56px;padding:5px}
._5e52.done ._2qg, ._5e52:hover ._2qg{margin-top:1px}
._5e52 .UIShareStage{height:62px;overflow-x:hidden;overflow-y:auto;padding-right:5px;position:relative}
._5e52 .UIShareStage_Image{max-width:56px;padding-bottom:0;padding-right:5px}
._5e52 .UIShareStage_ThumbPager{width:56px}
._5e52 .UIShareStage_ShareContent{max-height:62px}
._5e52 .UIShareStage_HasImage .UIShareStage_Title, ._5e52 .UIShareStage_Subtitle{font-size:10px;line-height:11px}
._5e52 .UIShareStage_Summary{margin-top:0}
._5e52 .UIShareStage_BottomMargin{font-weight:normal;overflow-x:hidden;text-overflow:ellipsis;white-space:nowrap}
._5e52 .UIShareStage_BottomMargin .inputtext{font-size:10px;height:10px}
._5e52 .UIShareStage_ThumbPagerControl{display:none}
li._5d_7{height:auto;padding:0}
li._5d_7 a{display:block;padding:5px}
.emoticonsPanel .panelFlyout{position:absolute;background-color:#fff;border:1px solid #808080;padding:3px}
.emoticonsTable{border-spacing:7px}
.emoticonsPanel .panelCell .emoticon{display:block;height:14px;padding:0 2px 2px 0;width:14px}
.emoticonsPanel .panelCell:hover{outline:1px solid silver}
.emoticonsPanel .emoteTogglerImg{width:24px;height:25px;display:block}
.mercuryLogMessageIcon{height:16px;width:16px}
.mercurySubscribeIcon{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-111px -672px}
.mercuryUnsubscribeIcon{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-43px -672px}
.mercuryThreadNameIcon{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-145px -672px}
.mercuryThreadImageIcon{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-94px -672px}
.mercuryMissedVideoCallIcon{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-77px -672px}
.mercuryVideoCallIcon{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-60px -672px}
.mercuryMissedPhoneCallIcon{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-77px -672px}
.mercuryPhoneCallIcon{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-128px -672px}
.mercuryErrorIcon{height:12px;width:11px;background-image:url(/rsrc.php/v2/y4/r/8ejVUcUqZKI.png);background-repeat:no-repeat;background-size:auto;background-position:-18px -105px}

._51lq{clear:both}
._510u{float:left;height:34px;outline:none}
._510v{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-268px -124px;height:31px;line-height:32px;margin-left:-5px;width:39px}
._2px{position:absolute;top:-1px;left:0}
._50d1{-webkit-border-radius:4px;bottom:30px;left:30px;list-style:none;margin:0;opacity:.96;position:fixed;width:245px;z-index:401}
._6nw ._50d1{font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;width:320px}
._50d1 ._a_g{background-color:#fff;border:1px solid #ccc;-webkit-border-radius:5px 5px 0 0;bottom:-31px;cursor:pointer;font-size:9px;font-weight:bold;padding:3px 5px;position:absolute;text-align:center;width:60px}
._50d1 ._a_g:hover{background-color:#fff9d7;border-color:#eed111}
._3sod{background-color:#e1e6ee;border:1px solid #99a8c7;-webkit-border-radius:3px;font-size:11px;margin-top:3px;opacity:0;position:relative;top:-30px;-webkit-transition:top .2s ease-in-out,
opacity .3s ease-in-out}
._6nw ._3sod{background-color:#fff;border:1px solid #ccc;-webkit-border-radius:4px;-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .2);font-size:12px;margin-top:4px;-webkit-transition:top .2s ease-in-out,
opacity .3s ease-in-out,
-webkit-box-shadow .2s ease-in-out}
._3soe{opacity:1;top:0}
._3sof{display:none}
._3sod:hover{background-color:#cad1de}
._6nw ._3sod:hover{background-color:#fff;border:1px solid #bbb;-webkit-box-shadow:0 0 6px rgba(0, 0, 0, .4)}
._3sod ._3sok{display:block;height:28px;margin-right:8px;width:28px}
._3sod ._3soi, ._3sod ._3soi:hover{color:#333;text-decoration:none}
._3sod ._3soj{padding:10px}
._3sod ._3sol{margin-top:-2px;word-wrap:break-word}
._3sod ._3soc{float:right;margin:8px 8px 7px 7px}
._3sod ._3som{color:#777;margin-top:5px}
.uiInfoTable{border:0;border-collapse:collapse;border-spacing:0;width:100%}
.uiInfoTableFixed{table-layout:fixed}
.uiInfoTable .spacer td{padding:5px 0}
.noBorder .spacer td{padding:0;visibility:hidden}
.uiInfoTable .label,
.uiInfoTable .data,
.uiInfoTable .rightCol{padding:3px 0 1px 0;text-align:left;vertical-align:top}
.uiInfoTable .dataRow .data,
.uiInfoTable .dataRow .rightCol{padding-top:5px}
.uiInfoTable .data > input,
.uiInfoTable .data > label input,
.uiInfoTable .rightCol > input,
.uiInfoTable .rightCol > label input{margin-left:0}
.uiInfoTable .label{color:#666;font-weight:bold;padding-right:10px;text-align:right;width:130px}
.uiInfoTable .dataRow .label{padding-top:8px}
.uiInfoTable .label .annotation{color:#999}
.uiInfoTable .rightCol{padding:0 0 0 20px;width:225px}
._5e4h._5e2j{height:22px;overflow:hidden}
._5e4h._5e2k, ._5e4h ._5e2k{background:#fff;border:1px solid;border-color:#a4a4a4 #bbb #d5d5d5;position:relative}
._5e4h ._5e2k{height:20px}
._5e4h ._5e4k, ._5e4h ._5e2g{height:20px}
._5e4h ._5e4k{background:#6d84b4;border:solid #3b5998;-webkit-border-radius:0;border-width:1px 0 1px 1px;color:#fff;margin:-1px;overflow:hidden;position:relative}
._5e4h._5e2j ._5e4k, ._5e4h._5e2j ._5e2g{left:0;line-height:20px;position:absolute;text-align:right}
._5e4h ._5e4k{top:0}
._5e4h ._5e2g{color:#333;top:-20px}
._5e2l ._5e4k{height:8px}
._5e4h._5e2m ._5e4k, ._5e4h._5e2m{-webkit-border-radius:15px}
._5e4h ._5e4j{border-right:solid 1px #3b5998}
._5e4h ._5e2d{border-width:1px 0}
._5e4h ._5e2h{display:inline-block;line-height:20px;padding-left:5px;white-space:nowrap}
._5e4h._5e2j ._5e2h{padding-right:5px}
._5e4h ._5e2n{position:absolute}
._5e4h._5e2j ._5e2n{position:relative}
.uiSelectorBottomUp .openToggler .uiSelectorButton,
.uiSelectorBottomUp .openToggler .uiSelectorButton:active,
.uiSelectorBottomUp .openToggler .uiSelectorButton:focus,
.uiSelectorBottomUp .openToggler .uiSelectorButton:hover,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed:active,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed:focus,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed:hover{border:1px solid #3b5998;border-top-color:#6d84b4}
.uiSelectorBottomUp .uiSelectorMenuWrapper{bottom:100%;margin-bottom:-2px;top:auto}
._pts{position:relative}
.uiContextualLayer ._ptt{position:absolute;top:0}
._pts ._ptt{position:static;top:auto}
.uiContextualLayer ._4-th{bottom:0;position:absolute}
._pts ._4-th{bottom:auto;position:static}

#bootloader_eV9g_ { height: 42px; }
.bootloader_eV9g_ { display:block !important; }