/*!CK:192841833!*//*1376061943,178138183*/

.insightsBarPL{margin:-2px 0 3px 10px}
.insightsBarPL .reachStats{display:inline-block;padding:4px 0}
.insightsBarPL .promotionUnavailableLink{text-decoration:none}
._6kd{position:relative}
._6kd ._6ke{color:#fff;font-size:18px;-webkit-font-smoothing:antialiased;font-weight:bold;left:20px;overflow:hidden;position:absolute;text-decoration:none;text-overflow:ellipsis;text-shadow:0 0 5px rgba(0, 0, 0, .8);top:20px;white-space:nowrap;width:350px}
._6kh{margin:0 -5px -2px 0}
._59ia ._6kh{margin:0 -16px -14px -13px}
._6ki{float:left;margin:0 2px 2px 0;position:relative}
._4_-p{background:url(/rsrc.php/v2/y-/r/hSP8dmsDiCw.png) repeat-x;left:0;margin-right:5px;min-height:110px;pointer-events:none;position:relative;right:0;top:0}
._59ia ._4_-p{margin-right:3px}
._4_-q{-webkit-font-smoothing:antialiased;margin:12px;max-height:238px;max-width:468px;position:absolute}
._4_-r, ._4_-s{font-weight:bold;text-shadow:0 1px 8px rgba(0, 0, 0, .3)}
._4_-s{color:#fff;font-size:18px;pointer-events:auto}
._4_-r{color:rgba(255, 255, 255, .7);font-size:12px}
._6ki:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._6kv{margin:6px 0 0}
._52c6{border:1px solid;border-color:#e9e9e9 #e2e2e2 #d1d1d1;bottom:3px;left:2px;position:absolute;right:2px;top:1px}
._59ia ._52c6{border:none}
._dcs{background-image:url(/rsrc.php/v2/yS/r/VdM2WRLZ6iI.png), url(/rsrc.php/v2/yS/r/VdM2WRLZ6iI.png), url(/rsrc.php/v2/yS/r/VdM2WRLZ6iI.png);background-position:0 0, -530px 100%, -1060px 0;background-repeat:no-repeat, no-repeat, repeat-y;margin:-1px -2px -3px;padding:2px 3px 4px;position:relative}
._57uf ._dcs{background-image:url(/rsrc.php/v2/yx/r/GFwPtRf2G1D.png), url(/rsrc.php/v2/yx/r/GFwPtRf2G1D.png), url(/rsrc.php/v2/yx/r/GFwPtRf2G1D.png);background-size:3180px 12px, 3180px 12px, 3180px 12px}
._57u0 ._dcs{background-image:url(/rsrc.php/v2/yk/r/g7F3FPtDspH.png), url(/rsrc.php/v2/yk/r/g7F3FPtDspH.png), url(/rsrc.php/v2/yk/r/g7F3FPtDspH.png);background-position:0 0, -446px 100%, -892px 0}
._57u0 ._57uf ._dcs{background-image:url(/rsrc.php/v2/yk/r/h1NdxWgGJtG.png), url(/rsrc.php/v2/yk/r/h1NdxWgGJtG.png), url(/rsrc.php/v2/yk/r/h1NdxWgGJtG.png);background-size:2676px 12px, 2676px 12px, 2676px 12px}
._59ia ._dcs, ._59ia._57uf ._dcs, ._57u0 ._59ia ._dcs, ._57u0 ._59ia._57uf ._dcs{background:none;border:none;border-top:1px solid #e9eaed;margin:8px 0 -4px 0;padding:13px 0 4px 1px}
._4_w4:hover{background-position:-1590px 0, -2120px 100%, -2650px 0}
._57u0 ._4_w4:hover{background-position:-1338px 0, -1784px 100%, -2230px 0}
._dcs .__c_:after{border-color:rgba(0, 0, 0, .098) rgba(0, 0, 0, .149) rgba(0, 0, 0, .231)}
._dcs:hover ._52c6{border-color:#e2e2e2 #dadada #ccc}
._4-eo{-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .41);display:block}
._59ia ._59ib{-webkit-box-shadow:none;margin:0 0 -12px -13px}
._9_q ._4-eo{width:initial !important}
._4vcx ._50z9, ._4vcx ._50z9 ._517g{height:526px !important}
._4vcx ._50z9 img{top:0 !important}
._9_q{background:#000;-webkit-box-shadow:none}
._9_q ._4-ep{margin:0 auto}
._he6{color:#777;font-size:14px;font-weight:bold;letter-spacing:1px;margin:22px 0 12px 63px;text-shadow:0 1px white;text-transform:uppercase}
._59i6 ._59i7{margin-bottom:0;margin-top:8px;padding:14px 15px 13px}
._59i7 ._59i8._6mc{margin:0}
._59i9{padding-bottom:2px}
._59i8, ._59i8 a{color:#adb2bb}
._59zh{-webkit-border-radius:3px}
._59i6 ._59ia{margin-bottom:3px}
._6kq._6xn{padding-top:8px}
._6xn ._6td, ._6xn ._6td._6nl a{color:#898f9c;font-size:12px}
._6xn ._6td._52a5, ._6xn ._6td._6nl._52a5 a{color:#141823;font-size:14px}
._57u0 ._6xn ._6td._52a5, ._57u0 ._6xn ._6td._6nl._52a5 a{color:#333}
._6xn ._6td{margin:2px 0 8px}
._6xn ._52a5{margin:0}
._6xn ._52a5 a{font-weight:bold}
._53jf ._19hq{left:-74px;top:-8px}
._4vt4{margin:-1px 0 6px 5px}
._6lx{position:relative}
._5e_7{margin-bottom:6px}
._55og{margin-left:1px;position:relative;top:1px}
._55og.presenceIndicator{text-align:center;width:16px}
._55og.presenceIndicator .online{position:relative;top:1px}
._4--o{background-color:#f6f7f8;padding:11px 14px 7px}
._4--p{color:#232b37;font-size:14px;-webkit-font-smoothing:antialiased;font-weight:bold}
._4--o ._4--q{color:#898f9c;font-size:12px;margin-top:3px}
html .groupsJoin ._59x2, html div._59x1{-webkit-box-shadow:0 0 0 0;outline:none}
._9ld .fbTimelineSection{border:none;padding:0}
._9ld .groupsSkyHeader{border:1px solid #ccc;-webkit-border-radius:0 0 3px 3px;border-top:none}
._9ld .groupsSkyNav{width:100%}
._9ld .groupsSkyNavContainer{background-color:#fff;border-bottom:0;-webkit-border-radius:0 0 3px 3px;border-top:1px solid #eee;padding:3px 0;width:924px}
._9ld .groupsSkyFixedNav{border-bottom:0}
._9ld .groupsFullWidth{width:100%}
._9ld .groupsSkyFixedNav .groupsSkyNavContainer{border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;margin-left:-1px !important;z-index:10}
._9ld .groupsSkyFixedNav.groupsSkyHeader{padding-bottom:40px}
._9ld .groupsSkyNavTitle{display:block;max-width:240px;padding:6px 14px 6px}
._9ld .groupsSkyNameText{color:#232b37;display:block;font-size:15px;font-weight:bold;overflow:hidden;padding-left:24px;text-overflow:ellipsis;white-space:nowrap}
._9ld .groupsSkyNameText .img{margin-top:2px}
._9ld .groupsSkyNavTitleTab{display:block;position:relative}
._9ld .groupsSkyNavTab .groupsSkyNavLink{color:#444;display:block;padding:6px 15px}
._9ld .groupsSkyNavSelected, ._9ld .groupsSkyNavTab:hover{background-color:#f4f4f4}
._9ld .groupsSkyNavTab a:hover{text-decoration:none}
._9ld .groupsSkyNavContainer .groupsSkyNav .groupsSkyNavTabActions{padding:5px 8px 5px 5px}
._9ld .groupsSkyNavTabBorder{border-right:1px solid #f4f4f4}
._9ld .groupsSkyNavTabBorderLeft{border-left:1px solid #f4f4f4}
._9ld .groupsSkyHeaderSearchWrap{height:21px;margin-top:-1px;position:relative}
._9ld .groupsSkyHeaderSearch{background-color:#fff;margin:-8px;padding:8px 8px 0;position:absolute;right:0;top:1px;z-index:10}
._9ld .groupsSkyHeaderSearch .uiSearchInput{height:20px}
._9ld .groupsSkyHeaderSearchWrap .inputtext{width:180px}
._9ld .groupsSkyHeaderSearch .uiSearchInput button{top:-1px}
._9ld .groupsSkyHeader #fbProfileCover .coverWrap{height:250px}
._9ld .groupsSkyHeader #fbProfileCover{margin:0}
._9ld .groupsSkyHeader #fbProfileCover .fbProfileCoverPhotoSelector{bottom:auto;right:11px;top:10px;z-index:10}
._9ld .groupsSkyHeader #fbProfileCover .coverNoImage .fbProfileCoverPhotoSelector{display:none;top:10px}
._9ld .groupsSkyHeader #fbProfileCover .coverNoImage:hover .fbProfileCoverPhotoSelector{display:block}
._9ld .groupsSkyHeader .fbProfileCoverPhotoSelector .uiMenuItem .itemAnchor{padding:1px 6px}
._9ld .groupsSkyHeader .fbProfileCoverPhotoSelector .uiSelectorMenuWrapper{background-color:#000;left:auto;right:0}
._9ld .groupsSkyHeader #fbProfileCover .coverEditor{margin-bottom:30px}
._9ld .groupsSkyHeader #fbProfileCover .coverNoImage{border-bottom:none;height:auto}
._9ld .groupsSkyHeader #fbProfileCover .coverBorder{border:none;display:none}
._9ld .groupsSkyHeader #fbProfileCover .profilePicNotch{display:none}
._9ld .groupsSkyActions .uiButton{background:none;border:0;-webkit-box-shadow:none}
._9ld .groupsSkyActions .uiSelector .openToggler .uiSelectorButton{background:#6d84b4;border:1px solid #3b5998;border-bottom-color:#6d84b4;margin:-1px 0 0 -2px}
._9ld .groupsSkySearchButton{display:inline-block;padding:6px 6px 0 6px}
._c51{padding:12px 0}
._50zs{padding:0 0 4px}
._c51 .groupsEditDescriptionHeader{font-weight:normal}
._9ld ._72g{position:relative}
._c5c{margin-top:8px}
._c51 .groupsSideMargin, ._c51 .groupsAddMemberSideBox{margin:8px 0 0}
._c51 #pagelet_group_requests_summary .uiHeader{margin-top:15px}
#pagelet_group_suggested_members ._c51 .groupsMemberSuggestBox{margin-right:-5px}
._9ld ._c51 .groupAddMemberTypeaheadBox{padding-right:0}
._c51 .groupAddMemberTypeaheadBox .plusIcon{left:6px;top:9px}
._c51 .groupAddMemberTypeaheadBox .innerWrap{height:23px;margin-left:13px}
._c51 .groupAddMemberTypeaheadBox .textInput{color:#888;font-size:11px;margin-top:3px}
._9ld ._c51 .uiGroupsAddTypeaheadView, ._9ld ._c51 .wrap, ._9ld ._c51 textarea{border-color:#d9d9d9}
._c51 .groupsEditDescriptionArea{margin:0}
._c51 .groupsEditDescriptionText{width:263px}
._c51 a{font-weight:bold}
._c51 .groupsEditDescriptionLink{margin:5px 0 0}
._c51 .groupsEditDescriptionBox{margin-bottom:12px}
._c51 .groupsSkyDescription{overflow:hidden;padding-left:1px}
.groupSearchBarLitestandWrapper ._9le{border-color:#d3d6db;-webkit-border-radius:1px;-webkit-box-shadow:0 -1px -1px rgba(0, 0, 0, .4);margin-bottom:12px;padding-bottom:0}
.groupSearchBarLitestandWrapper ._9le .uiSearchInput, .groupSearchBarLitestandWrapper ._9le .uiSearchInput span{border:0;line-height:3;padding:0;width:611px}
.groupSearchBarLitestandWrapper ._9le .uiSearchInput input{color:#888;font-size:14px;margin:12px 0 12px 12px;padding:0;width:550px}
.groupSearchBarLitestandWrapper ._9le .uiSearchInput button{background-image:url(/rsrc.php/v2/yx/r/lCf5ia7Q_rq.png);background-repeat:no-repeat;background-size:auto;background-position:0 -167px;height:16px;margin:12px 10px;width:16px}
._9ld .groupComposerCleanWrap{border-top:none;padding-top:0}
._9ld .groupsSkyContentHeader{border-bottom:1px solid #eee;margin-top:2px;padding-left:5px;padding-right:5px}
._9ld .groupsNoRequestsLabel{padding-left:15px}
._9le .groupsSkyContentWideHeader{border-bottom:1px solid #eee;padding:8px 2px}
._9le{background:#fff;border:1px solid #c0c0bd;border-bottom-color:#969695;-webkit-border-radius:3px;border-top-color:#d6d6d3;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .15);margin-bottom:20px;padding-bottom:10px}
#pagelet_group_revision._9le, #pagelet_group_doc._9le{padding-bottom:3px}
._9ld #pagelet_group_requests, ._9le #pagelet_group_profile_members, ._9le .groupsSkyEvents, ._9le .groupsSkyPhotos{padding:15px}
._9le .groupMemberSuggestionBrowser, ._9le .groupMemberBrowser, ._9le .groupWideSearchBoxRow, ._9le .groupsRecsEmbedHeader, ._9le .groupsJumpSubgroupHeader{margin:0}
._9le .groupsRecsEmbedHeader{background:white;border-bottom:1px solid #eee;border-top:none;padding:10px}
._9le .groupLaunchBox{border:none;border-bottom:1px solid #ccc;-webkit-border-radius:0;margin-bottom:0;padding-bottom:30px}
._9le .groupsLaunchFooter{margin:0;padding:0}
._9le .groupMemberActionBar{border:none;margin:0}
._9lf{padding:0 15px}
#pagelet_group_revision ._9lf, #pagelet_group_doc ._9lf{padding:10px 12px}
._9ld a._cmo{color:#444;font-weight:bold}
._9le .fbGroupCalendar
.fbCalendarList .fbCalendarItemContent{width:472px}
._9le
.fbCalendar.fbGroupCalendar
.fbCalendarHeader{padding:11px 19px 0}
._528a{position:absolute;right:5px;top:5px}
._c51 a{color:#232b37}
._9le .fbDocumentRoot{padding:0}
._9le .groupsMemberProfile{margin:10px 0 0 5px;width:100%}
._8_9.ego_column{width:auto}
._8_9 .ego_section{margin:0}
._8_9 .ego_section .uiSideHeader{padding-bottom:0}
._8_9 .ego_section .ego_unit{margin:0;padding:8px 0}
._8_9.egoOrganicColumn .ego_section .ego_unit:last-child{padding-bottom:12px}
._8_9 .ego_section .adsCategoryIcon{margin-top:-2px}
._8_9 .ego_section .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._8_9 .ego_unit .action{margin-top:0}
._8_9 .ego_unit .action ._24x{outline:none}
._4tot{margin-left:12px}
._8_9 .action .fbEmuContext{display:inline-block}
._8_9 .ego_unit .action ._24x, ._8_9 .action .fbEmuContext, ._8_9 .action .inlineContext{margin-top:8px}
._8_9 .action .inlineContext .fbEmuContext{margin-top:0}
._8_9 .ego_unit .action .fbEmuContext a, ._8_9 .ego_unit .messageBody, ._8_9 .ego_unit .messageBody a, ._8_9 .ego_unit .uiLinkSubtle, ._8_9 .ego_unit .eventRSVP a, ._8_9 ._a1z, ._8_9 ._a1z a{color:#898f9c}
._8_9 .fbEmuStreamStory .messageBody .whitespaceLink:hover, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuStreamOGAction, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuLikeMessage{background-color:#fff}
._8_9 ._5g4m{padding:0 4px}
._8_9 ._5g4m img{opacity:.8}
._8_9 .uiStream .uiStreamMessage{margin-bottom:0}
._8_9 .fbEmuStreamStory .fadStoryAttachment, ._8_9 .fbEmuStreamStory .fadStoryFooter{margin-top:8px}
._8_9 .fbEmuXThanksBody a{font-weight:bold}
._8_9 .ego_unit .uiStreamPassive a, ._8_9 .ego_unit .egoProfileTemplate a, ._8_9 .ego_unit .eventTitle, ._8_9 .ego_unit .fbEmuMainBody a, ._8_9 .ego_unit .fbEmuStreamStory .uiBlingBox .text{color:#232b37}
._8_9 .ego_unit .action .fbEmuContext a{display:inline;font-weight:bold}
._8_9 .ego_unit .lfloat{margin-right:10px}
._8_9 .ego_unit .lfloat > .img{padding-top:0}
._8_9 .ego_unit .image_body_block, ._8_9 .ego_unit .fbEmuContext, ._8_9 .ego_unit_container{line-height:16px;padding:0}
._8_9 .ego_section .ego_unit:first-child, ._8_9.egoOrganicColumn .ego_section .ego_unit:first-child{padding-top:10px}
._8_9 .ego_unit .uiStream .uiStreamMessage{font-size:12px}
._8_9 .ego_unit .uiStarsRatable{margin-top:5px}
._8_9 .egoPlaceComboInput .uiTypeaheadSpan{padding:0}
._8_9 .uiTypeahead .uiCloseButton, ._8_9 .uiTypeahead .uiTypeaheadCloseButton{margin-right:0}
._8_9.egoOrganicColumn .ego_section .ego_unit{border-top:0;padding:6px 0}
._8_9 .uiStream .uiStreamPassive{color:#4e5665;font-size:12px}
._8_9 .uiStream .uiStreamPassive a{font-weight:bold;text-decoration:none}
._59hz{padding-left:3px;vertical-align:-2px}
.HovercardMessagesButton ._59hz{height:11px;vertical-align:0}
.HovercardMessagesButton ._59hz .mobile{vertical-align:-2px}
._5cmw._5cmx span{height:14px;width:14px}
._5cmw._5cmy span{height:16px;width:16px}
._5cmw._5cmz span{height:18px;width:18px}
._5cmw._5cm- span{height:20px;width:20px}
._5cmw._5cmx .emptyStar{background-image:url(/rsrc.php/v2/y3/r/vIjOCWUjq0U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -216px}
._5cmw._5cmx .fullStar, ._5cmw._5cmx .hoverStar{background-image:url(/rsrc.php/v2/y3/r/vIjOCWUjq0U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -201px}
._5cmw._5cmy .emptyStar{background-image:url(/rsrc.php/v2/y3/r/vIjOCWUjq0U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -139px}
._5cmw._5cmy .fullStar, ._5cmw._5cmy .hoverStar{background-image:url(/rsrc.php/v2/y3/r/vIjOCWUjq0U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -122px}
._5cmw._5cmz .emptyStar{background-image:url(/rsrc.php/v2/y3/r/vIjOCWUjq0U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -103px}
._5cmw._5cmz .fullStar, ._5cmw._5cmz .hoverStar{background-image:url(/rsrc.php/v2/y3/r/vIjOCWUjq0U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -84px}
._5cmw._5cm- .emptyStar{background-image:url(/rsrc.php/v2/y3/r/vIjOCWUjq0U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -21px}
._5cmw._5cm- .fullStar, ._5cmw._5cm- .hoverStar{background-image:url(/rsrc.php/v2/y3/r/vIjOCWUjq0U.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
._5cmw ._5cm_{margin-left:10px;opacity:0;position:relative}
._5cmw:hover ._5cm_{opacity:1}
._5cmw._5cmx ._5cm_{top:-1px}
._5cmw._5cmy ._5cm_{top:-2px}
._5cmw._5cmz ._5cm_{top:-3px}
._5cmw._5cm- ._5cm_{top:-4px}
._5cq3{position:relative}
._5cnd{background:url(/rsrc.php/v2/yx/r/_D1g3Y_5bJD.png) repeat-x;bottom:0;color:#fff;-webkit-font-smoothing:antialiased;height:110px;position:absolute;width:100%}
._5cnb{bottom:0;height:45px;position:absolute;width:100%;z-index:2}
._5cne{bottom:15px;min-width:100%;padding-left:15px;position:absolute;white-space:nowrap}
._5cnd, ._5cne, ._5cnd a{color:#fff}
._5cnf{display:inline-block}
._5cnc{border:2px solid rgba(255, 255, 255, .5);-webkit-border-radius:3px;-webkit-box-shadow:0 5px 5px rgba(0, 0, 0, .3);position:absolute}
.presenceIndicator{display:inline-block}
.presenceIndicator i{display:inline-block;height:14px;width:9px}
.presenceIndicator .online{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-839px -402px}
.presenceIndicator .mobile{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-4px -58px;height:12px;width:10px}
.presenceIndicator .offline{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:-546px -20px}
._561s{line-height:13px;margin-top:2px}
._53ee{border-bottom:1px solid #e9e9e9;margin-top:-5px}
._6nw ._53ee{margin-top:0}
html ._58op{padding:0 4px}
._54bc{display:inline-block}
html ._5ba_ ._54bc{padding-right:40px;padding-top:8px}
._5cl-{overflow:hidden}
html ._54bc .img{margin-left:5px;position:relative;top:-1px;vertical-align:middle}
html ._5du6 .img{margin-top:-4px}
._569r ._54bc{visibility:hidden}
._569r:hover ._54bc{visibility:visible}
._5dg8{padding-left:20px;vertical-align:top}
._5dg9{padding-top:4px}
._5dg7 ._5dga{display:block}
._5dga, ._5dg7 ._5dgb{display:none}
.sp_3srv49{background-image:url(/rsrc.php/v2/yn/r/QpoLwpfkS6P.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_79f1be{background-position:0 -476px}
.sx_ea3946{background-position:0 -459px}
.sx_ef6e49{background-position:0 -442px}
.sx_a53655{background-position:0 -425px}
.sx_b98f39{background-position:0 -408px}
.sx_da1d04{background-position:0 -391px}
.sx_1d4a25{background-position:0 -374px}
.sx_984ca3{background-position:0 -357px}
.sx_274eb3{background-position:0 -340px}
.sx_0327ec{background-position:0 -323px}
.sx_2ee05c{background-position:0 -306px}
.sx_710c9c{background-position:0 -289px}
.sx_f1a360{background-position:0 -272px}
.sx_83a68d{background-position:0 -255px}
.sx_fa9b50{background-position:0 -493px}
.sx_e0e503{background-position:0 -221px}
.sx_74dda9{background-position:0 -204px}
.sx_93e240{background-position:0 -187px}
.sx_84225a{background-position:0 -170px}
.sx_313039{background-position:0 -153px}
.sx_213a4f{background-position:0 -136px}
.sx_55e89c{background-position:0 -119px}
.sx_46c74e{background-position:0 -102px}
.sx_34208d{background-position:0 -85px}
.sx_199021{background-position:0 -68px}
.sx_0af573{background-position:0 -51px}
.sx_098d57{background-position:0 -34px}
.sx_c8043d{background-position:0 -17px}
.sx_69ce74{background-position:0 0}
.sx_797935{background-position:0 -238px}

._51xa{-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .05);display:inline-block;vertical-align:middle;white-space:nowrap}
._51xb{-webkit-box-shadow:0 0 6px rgba(0, 0, 0, .6)}
._4-u2{background:#fff;border:1px solid;border-color:#d6d7da #d5d8dd #c7c8ca;-webkit-border-radius:3px;overflow:hidden}
._4-u2 > ._4-u3{border-top:1px solid #e5e5e5}
._4-u2 > ._4-u3:first-child{border-top:none}
.openToggler > ._55pi, .openToggler > ._55pi:hover, .openToggler > ._55pi:focus, .openToggler > ._55pi:active{background-color:#758ab7;border-color:#475d91 #3c5389 #3a5186;-webkit-box-shadow:none;color:#fff;text-shadow:0 -1px 0 rgba(0, 0, 0, .2)}
.openToggler > ._55pi:active{border-color:#334776 #384e82 #3a5186}
.openToggler > ._55pi._nk, .openToggler > ._55pi._nl{-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0}
.openToggler > ._55pi._nn, .openToggler > ._55pi._no{-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0}
.openToggler > ._55_o, .openToggler > ._55_o:hover, .openToggler > ._55_o:focus, .openToggler > ._55_o:active{background-position:0 -471px}
.openToggler > ._55_p, .openToggler > ._55_p:hover, .openToggler > ._55_p:focus, .openToggler > ._55_p:active{background-position:0 -492px}
.openToggler > ._55_q, .openToggler > ._55_q:hover, .openToggler > ._55_q:focus, .openToggler > ._55_q:active{background-position:0 -517px}
.openToggler > ._55_r, .openToggler > ._55_r:hover, .openToggler > ._55_r:focus, .openToggler > ._55_r:active{background-position:0 -546px}
.openToggler > ._55_s, .openToggler > ._55_s:hover, .openToggler > ._55_s:focus, .openToggler > ._55_s:active{background-position:0 -583px}

#bootloader_u9baj { height: 42px; }
.bootloader_u9baj { display:block !important; }