/*!CK:359088840!*//*1375676749,178138183*/


._24n .body ._24x{color:#333}
._6nw ._24n .body ._24x{color:#4e5665}
._24n .body ._24x:hover{text-decoration:none}
._24n .body a.signature{color:#3b5998;display:inline}
._24n .body a.signature:hover{text-decoration:underline}
._24n .hover:hover .title ._24x{text-decoration:underline}
._24n .forceRTL{direction:rtl;text-align:right;display:block}
._24n .forceLTR{direction:ltr;text-align:left;display:block}
._24n .adInfo a.identity{color:gray;display:block;white-space:nowrap}
._6nw ._24n .adInfo a.identity{color:#898f9c;overflow:hidden;text-overflow:ellipsis}
._24n .title{font-weight:bold;margin-bottom:0 !important}
._24n .image_body_block{padding-top:3px}
._24n .uiUfi{width:auto}
._24n .fbEmuHidePoll .otherdiv .other{width:206px}
._24n .ads_rhc_close{opacity:0}
._24n:hover .old_x, ._24n:hover .uiSelectorButton, ._24n:hover .ads_rhc_close, ._24n .ads_rhc_close.openToggler, .emu_x .openToggler .uiSelectorButton{opacity:1}
._24y .image .img{padding-top:3px;max-height:72px;max-width:100px}
._24y .action{margin-top:5px}
._24y{line-height:13px}
._24y .fbEmuHide{margin-top:0 !important}
._24y .image{width:100px;display:block}
._24y .action{color:#777}
._24y .action .fbEmuContext ._24x{color:#777}
._6nw ._24y .action, ._6nw ._24y .action .fbEmuContext ._24x{color:#898f9c}
._24y .action ._24x{display:inline-block}
.fbEmuHidePoll .undo{float:right;padding-left:2px;padding-bottom:2px;margin-bottom:3px;margin-left:5px}
.fbEmuHidePoll .fbEmuXTitle{font-weight:bold}
.fbEmuHidePoll .fbEmuXSubtitle{margin-bottom:10px}
.fbEmuHideThanks .fbEmuXThanksTitle{font-weight:bold;margin-bottom:10px}
.fbEmuBlock .fbEmuHidePoll .otherdiv{margin-left:20px}
.emu_x{float:right}
.emu_x .uiSelectorButton{opacity:0}
.old_x{opacity:0}
._570-{opacity:.3}
._55ob{background-color:#fdfdfe;border-bottom:1px solid #c1c9d5;border-top:1px solid #c1c9d5;padding:1px 0;position:relative}
.fbChatTypeaheadView ._55ob{margin:5px 0 1px}
._56ox ._55ob{margin:0}
._5468 ._55ob{background-color:transparent;border:none;height:28px;margin:0;text-align:center}
._5bcj ._55ob{margin-left:3px;text-align:left}
._55oc{background-color:#f2f5f9;color:#989db3;font-size:9px;font-weight:bold;padding:6px;text-shadow:0 1px #fff}
._56ox ._55oc{background-color:transparent}
._5468 ._55oc{background-color:#31353e;color:#8c949f;display:inline-block;font-size:10px;font-weight:normal;line-height:28px;padding:0 5px;text-shadow:none}
._5468 ._55oc:after{border-bottom:1px solid #3c3f48;border-top:1px solid #25282e;content:"";left:0;position:absolute;top:50%;width:100%;z-index:-1}
._5bcj ._55oc{background-color:transparent;color:#898f9c;font-size:11px;font-weight:bold}
._5bcj ._55oc:after{content:none}
._55ln{color:#333;display:block;height:28px;line-height:28px;padding:2px 8px 2px 5px;position:relative}
._4mq2 ._55ln{color:#c2c4cc;height:24px;line-height:24px;padding:4px 8px;text-shadow:0 1px 2px rgba(0, 0, 0, .25)}
._58vt ._55ln{color:#c2c4cc;text-shadow:0 1px 2px rgba(0, 0, 0, .25)}
._4vcw ._55ln{padding-bottom:2px;padding-top:2px}
._5bcj ._55ln, ._5d12 ._55ln{border-bottom:1px solid transparent;border-top:1px solid transparent;color:#4e5665;height:32px;line-height:32px}
._5bcj ._55ln{padding:3px 12px 3px 8px}
._55ln:hover, li.selected ._55ln{background-color:#e0e4ee;text-decoration:none}
._5468 ._55ln:focus, ._5468 ._55ln:hover, ._5468 li.selected ._55ln{background-color:#1f2228;outline:none}
._5bcj ._55ln:focus, ._5bcj ._55ln:hover, ._5bcj li.selected ._55ln{background-color:#e2e4e8;border-color:#dbdce1}
._5d12 ._55ln:focus, ._5d12 ._55ln:hover, ._5d12 li.selected ._55ln{background-color:#f3f3f3;border-color:#ededed}
._58vt li.selected ._55ln{background:#1f2228;background:rgba(31, 34, 40, .9)}
._55lp{position:relative}
._568x{float:left;padding-right:7px}
._568y{vertical-align:middle}
._56p9{float:left;height:28px;position:relative;width:28px}
._4mq2.fbChatTypeaheadView ._56p9 .img, ._4mq2 ._56p9{height:24px;width:24px}
._5bcj ._56p9{height:32px;width:32px}
._5468 ._568w{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-92px -469px;content:'';height:28px;left:-2px;position:absolute;top:-2px;width:28px}
._5468 ._55ln:hover ._568w{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-121px -469px}
._5bcj ._568w, ._5d12 ._568w{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -470px;content:'';height:32px;left:0;position:absolute;top:0;width:32px}
._5bcj ._55ln:hover ._568w{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-156px -405px}
._56yj ._568w{display:none}
._55lr, ._55ls{overflow:hidden;padding-left:8px;text-overflow:ellipsis;white-space:nowrap}
._55lo ._55lr{line-height:14px;padding-top:2px}
._5468 ._55lo ._55lr{padding-top:0}
._5bcj ._55lo ._55lr{padding-top:3px}
._5d12 ._55lr{font-weight:500}
._55ls, ._5bcj ._55ls{color:gray;display:none;font-size:10px;line-height:12px;margin-top:-2px;overflow:hidden}
._5bcj ._55ls{color:#898f9c;font-size:11px;line-height:14px}
._55lo ._55ls{display:block}
._568z{display:inline-block}
._5468 ._568z{margin-right:2px}
._5bon{float:right;line-height:24px;margin:0 4px;text-align:right}
._5468 ._5bon{margin:0 2px}
._4kdq ._5bon ._5boo{margin-right:2px}
._4kdq ._5bon ._5boo._5bop{margin-right:0}
._5bcj ._5bon, ._5d12 ._5bon{line-height:32px}
._568-{color:#a8a8a8;display:inline-block;font-size:9px;font-weight:bold;line-height:12px;margin-right:4px;text-shadow:none;vertical-align:middle}
._58vt ._568-, ._4mq2 ._568-{color:#8c949f}
._568_{vertical-align:middle}
._5dv3{margin-bottom:3px;margin-right:3px;vertical-align:middle}
._5ap0 ._55lr, ._5ap0 ._55ls, ._5ap0 ._568-, ._4kdq .fbChatSidebar ._55lr, ._4kdq .fbChatSidebar ._55ls, ._4kdq .fbChatSidebar ._568-, ._4kdq .fbChatSidebar ._5bom ._568z{display:none}
._4kdq .fbChatSidebar ._5bon{padding-right:144px}
._4kdq .fbChatSidebar ._5bom ._5bon{padding-right:143px}
._5boo{display:inline-block;vertical-align:middle}
.fbChatSidebar ._5boo{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-13px -672px;color:#c2c4cc;font-size:10px;height:17px;line-height:17px;text-align:center;width:12px}
.fbChatSidebar ._55ln:hover ._5boo{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -672px}
.fbChatSidebar ._5bop{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-18px -646px;width:16px}
.fbChatSidebar ._55ln:hover ._5bop{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-35px -646px}
._5bcj.fbChatSidebar ._55ln ._5boo{background:#fff;-webkit-border-radius:2px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .25), 0 0 0 1px rgba(0, 0, 0, .15);color:#6a7180;font-size:9px;font-weight:500;height:13px;line-height:13px;padding:0 4px;width:auto}
._4mq3 ._5boo{background-color:#d8dfea;-webkit-border-radius:2px;color:#3b5998;font-size:9px;height:16px;line-height:16px;padding:0 3px}
._511o{border-top:1px solid #eee;position:relative}
.bubbles span._1_zk, .bubbles div._511o{color:#999ca5;font-size:11px}
.bubbles div._511o{background:-webkit-gradient(linear, left center, right center, from(#edeff4), color-stop(0.5, #e9ebf0), to(#edeff4));background:-webkit-linear-gradient(left, #edeff4, #e9ebf0 50%, #edeff4);border-top:none;margin:8px 0;padding:8px 15px}
.bubbles ._511m + ._511o{margin-top:21px}
.ie10 .bubbles div._511o{background:url(/rsrc.php/v2/yc/r/9Kc1gxfAICW.png) repeat-y}
.bubbles ._511o:before, .bubbles ._1_vy:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -247px;content:'';display:block;height:2px;position:absolute;top:-1px;width:100%}
.bubbles ._511o:before{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -250px}
.bubbles ._511e{color:#999ca5;font-weight:bold}
._1_vv{margin-top:1px;height:16px;width:16px}
.bubbles ._1_vy:after{bottom:-1px;top:auto}
._1_vv.mercuryErrorIcon{height:12px;margin-top:2px;width:11px}
.bubbles ._1_vv{height:12px}
._1_vw{float:left;text-align:right;width:32px}
.bubbles ._1_vw{display:none}
._1_vx{margin-left:40px}
.bubbles ._1_vx{margin-left:0;text-align:center}
._1_vy ._ksh{margin-left:40px;margin-top:5px}
.bubbles ._1_vy ._rpb{text-align:center}
.bubbles ._1_vy ._ksh{display:inline-block;float:none;margin-left:0}
._1_vz{background-color:#fff;float:right;padding-left:3px;position:absolute;right:0;top:-9px;visibility:hidden}
._511o:hover ._1_vz{visibility:visible}
.bubbles ._511o ._1_vz{display:none}
.fbChatConvItem .metaInfoContainer{visibility:hidden}
.fbChatConvItem:hover .metaInfoContainer{visibility:visible}
._kso{margin-bottom:3px;text-align:left;white-space:pre-wrap;word-wrap:break-word}
._kso.direction_rtl{text-align:right}
._52i4 .img{margin-top:2px}
.bubbles ._52i4 .img{margin-top:0}
.bubbles ._kso .MercuryExternalLink .linkPreview{float:none}
.bubbles ._kso ._59go ._59gp, .bubbles ._kso ._59go .linkTitle{color:#333;font-weight:bold}
._kso ._59go .uiIconText{display:block}
._kso .more{display:inline-block}
._kso .videoPreview{margin-top:2px;max-height:90px;max-width:193px}
._kso .linkPreview, ._kso .linkPreview img, ._kso .linkPreview ._ksh img{margin-top:2px;max-height:90px;max-width:90px}
._kso .MercuryLinkRight{margin-left:4px;max-width:99px}
._kso .noMedia .MercuryLinkRight{max-width:193px}
.bubbles ._kso .MercuryLinkRight{clear:both;float:none}
.bubbles ._kso .videoPreview, .bubbles ._kso .MercuryLinkRight, .bubbles ._kso .noMedia .MercuryLinkRight{max-width:100%}
._kso .MercuryExternalLink, ._kso .musicAttachment .MercuryMusicIcon{margin-bottom:3px}
._kso ._z6l{clear:left;display:block}
.bubbles ._kso, .bubbles ._55r0{clear:both;float:right}
.bubbles ._50kd ._kso, .bubbles ._50kd ._55r0{float:left}
.bubbles .metaInfoContainer + ._55r0, .bubbles ._55r0:first-child{clear:none}
.bubbles div._kso{border:1px solid #dfdfdf;border:1px solid rgba(0, 0, 0, .18);border-bottom-color:rgba(0, 0, 0, .29);-webkit-border-radius:4px;-webkit-box-shadow:0 1px 0 #dce0e6;color:#3e454c;margin:5px 5px 5px 0;min-height:14px;padding:4px 5px 3px 6px;position:relative;text-shadow:rgba(255, 255, 255, .5) 0 1px 0}
.bubbles ._55pl{margin:-4px -5px -3px -6px}
.bubbles ._50kd ._kso{margin-left:1px;margin-right:0;padding:4px 6px 3px 5px}
.bubbles ._50kd ._55pl{margin:-4px -6px -3px -5px}
.bubbles div._kso{font-family:Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;font-size:12px;line-height:1.28}
.bubbles ._kso:after, .bubbles ._kso:before{content:'';left:100%;position:absolute;width:8px}
.bubbles ._50kd ._kso:after, .bubbles ._50kd ._kso:before{left:auto;right:100%}
.bubbles ._kso:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-92px -631px;height:13px;top:5px}
.bubbles ._50kd ._kso:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-101px -631px}
.bubbles ._kso:before{bottom:0;clip:rect(5px, 13px, 18px, 0);top:0}
.bubbles ._kso, .bubbles ._kso:before{background-color:#dbedfe;background-image:-webkit-gradient(linear, center bottom, center top, from(#c7defe), to(#e7f1fe));background-image:-webkit-linear-gradient(bottom, #c7defe, #e7f1fe);background-image:url(/rsrc.php/v2/yn/r/57z4kK928BK.png) \0/;background-size:100% 100% \0/}
.bubbles ._50kd ._kso, .bubbles ._50kd ._kso:before{background-color:#f7f7f7;background-image:-webkit-gradient(linear, center bottom, center top, from(#f2f2f2), to(#fff));background-image:-webkit-linear-gradient(bottom, #f2f2f2, #fff);background-image:url(/rsrc.php/v2/yP/r/r6AE8iXybFG.png) \0/}
._kso._542c{color:#999;font-size:9px;line-height:11px}
._542q ._kso{color:#999}
._kso ._553k{padding:1px 0}
.bubbles ._kso .emoticon{margin-top:-1px}
._50dw{border-top:1px solid #eee;position:relative}
.bubbles ._50dw{border-top-width:0;margin-bottom:0;margin-left:4px;padding-top:0}
._50ke{float:left;position:relative}
.bubbles ._50ke{bottom:0;float:none;height:100%;min-height:38px;position:absolute}
.bubbles ._51lq ._50ke{bottom:auto;height:auto;margin-top:-4px;min-height:0}
._50dw .profileLink{display:block}
.bubbles ._50dw .profileLink{position:absolute;top:5px}
.bubbles ._50dw .profileLink:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-267px -187px;content:'';height:36px;left:-2px;position:absolute;top:-2px;width:36px}
._50dw .profileLink .profilePhoto{display:block;height:32px;width:32px}
._50dw .messages{margin-left:40px}
._50x5{color:#999ca5;display:none;font-size:11px;overflow:hidden;position:absolute;text-overflow:ellipsis;top:-9px;white-space:nowrap;width:200px}
._522l{line-height:13px;padding:1px 0}
._522m{color:#aaa}
.bubbles ._50x5{top:-11px}
._50x4 ._50x5{display:block}
._50x4._50dw{margin-top:13px}
._51lo + ._51lo{margin-top:17px}
.bubbles ._511o + ._50x4{margin-top:20px}
.bubbles ._511o + ._51lo{margin-top:24px}
.bubbles ._511m + ._50x4{margin-top:27px}
.bubbles ._511m + ._51lo{margin-top:31px}
._54sp, ._54sk{display:none}
._4-d6 ._54sj ._54sp, ._4-d6 ._54sk{display:block}
._4-d6 ._54sj ._54sp{cursor:move}
._573- ._54sl{display:none}

._56ym, ._42g8, ._42g7{margin:5px 0 6px}
._6nw ._42fz a, ._6nw ._42g6, ._6nw ._42i3, ._57zm, ._42g6, ._42i3{color:#5a5a5c;text-shadow:0 1px rgba(255, 255, 255, .25)}
._57zm, ._42g6, ._42i3{background-color:#fdfdfe;border-bottom:1px #c1c9d5 solid;border-top:1px #c1c9d5 solid;color:#989db3;font-size:9px;font-weight:bold;padding:1px 0;text-shadow:0 1px #fff;text-transform:uppercase}
._42i3{margin-top:-2px}
._57zm{margin-top:-3px}
._57zn, ._42i4{background-image:-webkit-gradient(linear, center bottom, center top, from(#f0f4f9), to(#f4f6f9));background-image:-webkit-linear-gradient(bottom, #f0f4f9, #f4f6f9);display:block;padding:6px}
._6nw ._57zn{padding:2px 6px}
._42i3:after{background-color:rgba(0,0,0,0.05);content:'';display:block;height:1px;margin-top:2px;position:absolute;width:100%}
a._42g6{border-width:0;float:right;padding-top:6px;text-align:right;text-decoration:none}
._554m, ._42fz{float:left;width:100%}
._42g3{border-bottom:1px solid #f9fafc;border-top:1px solid #dfe2e9;float:left;margin:4px 0;width:100%}
._6nw._5c81 ._42fz a, ._42fz a{color:#333;display:block;padding:2px 8px 2px 5px;position:relative}
._42fz a:hover, ._42fz a.selected{background-color:#e0e4ee;text-decoration:none}
._42fz .pic{float:left;height:28px;margin-right:8px;width:28px}
._52zl{line-height:28px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._52zj ._52zl{line-height:16px}
._52zk{display:none}
._52zj ._52zk{color:gray;display:block;font-size:10px;line-height:12px;margin-top:-2px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._6nw ._52zk{color:#66707f}
._5bcj ._52zk{color:#898f9c;font-size:11px;line-height:14px}
._6nw ._42fz:first-child{border-top-width:0}
._6nw .sidebarWithFavorites ._42fz:first-child{border-top-width:1px}
._42fz .icon_container{float:right;height:28px;line-height:24px;margin-left:6px}
._42fz .icon{margin-right:4px;vertical-align:middle}
._4-d6 ._42fz .active_time{display:none}
._42fz .active_time{color:#a8a8a8;display:inline-block;font-size:9px}
._5bcj ._42fz .active_time{color:#898f9c;font-size:11px;margin-top:-1px}
._42fz .status{display:inline-block;height:14px;width:7px}
._42fz.active .status{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-840px -402px}
._4-d6 ._42fz .pic{margin-left:8px}
._4-d6 ._42f- .pic, ._4-d6 ._42f- .name{cursor:move;cursor:-webkit-grab}
._4-d6 ._42f- ._42i1{float:right;margin:10px 4px 0 3px}
._42fw, ._4-d6 ._42fz ._42g2{cursor:pointer;display:block;float:left;height:16px;margin:7px 0 0 3px;width:16px}
._42fw{margin:7px 5px 0 6px}
._42fx, ._4-d6 ._42fz ._42f_{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-189px -53px}
._42fy, ._4-d6 ._42fz ._42g0{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-138px -53px}
._42fz.mobile .status{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-5px -58px;height:12px;width:8px}
.fbChatSidebar .fbChatOrderedList ._42fz a:hover{-webkit-box-shadow:inset 2px 0 2px -2px #b2b9c9}
._42fz.invis{opacity:.3}
._554m{display:table;height:32px;-webkit-user-select:none}
._554o{display:table-cell;vertical-align:middle}
._554n{cursor:pointer;position:relative;text-align:center;top:-50%;z-index:1}
._554p{background-color:#fff;color:#989db3;display:inline-block;font-size:9px;font-weight:bold;padding:0 5px;text-transform:uppercase}
.fbChatSidebar ._554p{background-color:#f2f4f8}
._554t{color:#989db3;display:block;padding:0 25px 5px 25px;text-align:center}
._554t a{color:#6d84b4}
._554q{left:0;position:absolute;top:50%;width:100%;z-index:-1}
._554r{border-bottom:2px solid #ccd0da;display:block;margin:0 5px}
#facebook ._42g5._4zmr{display:block !important;position:absolute;visibility:hidden;width:100%}
._4vcw ._50zv{height:28px}
._50zv{height:32px}
._5bcj ._50zv{height:40px}
._50zv ._50zw{display:none}
.offline ._50zv ._50zw{display:block}
._5468.fbChatSidebar .fbChatTypeaheadView, ._5468.fbChatSidebar .fbChatOrderedList{padding-bottom:4px;padding-top:0}
._4mq2 ._42fz a{color:#c2c4cc;padding:4px 8px;text-shadow:0 1px 2px rgba(0, 0, 0, .25)}
._58vt ._42fz a{color:#c2c4cc;text-shadow:0 1px 2px rgba(0, 0, 0, .25)}
._5bcj ._42fz a{border-bottom:1px solid transparent;border-top:1px solid transparent;color:#4e5665;padding:3px 15px 3px 8px}
._58vt ._42fz .active_time, ._4mq2 ._42fz .active_time{color:#8c949f;font-weight:bold;text-shadow:none;vertical-align:baseline}
._4vcw ._5ap0 ._42fz a, ._4vcw .fbChatSidebar ._42fz a{padding-bottom:2px;padding-top:2px}
._4g5r ._5ap0 ._56yf a:focus, ._4g5r ._5ap0 ._56yf a:hover, ._4g5r ._5ap0 ._56yf a.selected, ._4g5r ._5ap0 ._42fz a:focus, ._4g5r ._5ap0 ._42fz a:hover, ._4g5r ._5ap0 ._42fz a.selected, ._58vt .fbChatSidebarBody ._56yf a:focus, ._58vt .fbChatSidebarBody ._56yf a:hover, ._58vt .fbChatSidebarBody ._56yf a.selected, ._58vt .fbChatSidebarBody ._42fz a:focus, ._58vt .fbChatSidebarBody ._42fz a:hover, ._58vt .fbChatSidebarBody ._42fz a.selected, ._5468 .fbChatSidebarBody ._56yf a:focus, ._5468 .fbChatSidebarBody ._56yf a:hover, ._5468 .fbChatSidebarBody ._56yf a.selected, ._5468 .fbChatSidebarBody ._42fz a:focus, ._5468 .fbChatSidebarBody ._42fz a:hover, ._5468 .fbChatSidebarBody ._42fz a.selected{background:#1f2228;-webkit-box-shadow:none;outline:none}
._5bci .fbChatSidebarBody ._56yf a:focus, ._5bci .fbChatSidebarBody ._56yf a:hover, ._5bci .fbChatSidebarBody ._56yf a.selected, ._5bci .fbChatSidebarBody ._42fz a:focus, ._5bci .fbChatSidebarBody ._42fz a:hover, ._5bci .fbChatSidebarBody ._42fz a.selected{background:#e2e4e8;border-color:#dbdde1}
._5c81._5bci .fbChatSidebarBody ._56yf a:focus, ._5c81._5bci .fbChatSidebarBody ._56yf a:hover, ._5c81._5bci .fbChatSidebarBody ._56yf a.selected, ._5c81._5bci .fbChatSidebarBody ._42fz a:focus, ._5c81._5bci .fbChatSidebarBody ._42fz a:hover, ._5c81._5bci .fbChatSidebarBody ._42fz a.selected{background:#e0e4ee}
._4mq2 ._52zl{line-height:24px}
._4mq2 ._52zj ._52zl{line-height:14px}
._5bcj ._52zl{line-height:32px}
._5bcj ._52zj ._52zl{line-height:18px}
._5468 ._550- .icon_container .icon, ._5ap0 ._550- .icon_container .icon, ._4kdq .fbChatSidebar ._42fz .icon_container .icon, ._4g5r ._5ap0 ._42fz .icon_container .icon, ._5bcj ._42fz._550- .icon_container .status, ._4g5r ._5ap0 ._42fz._550- .icon_container .status, ._4kdq .fbChatSidebar ._42fz._550- .icon_container .status{display:none}
._5468 ._550- .icon_container .status, ._4g5r ._5ap0 ._42fz .icon_container .status, ._4kdq .fbChatSidebar ._42fz .icon_container .status{display:inline-block}
._42fz.invis .icon_container{display:none}
._4mq2 ._42fz .icon_container{height:24px}
._5ap0 ._42fz .icon_container, ._5468 ._42fz .icon_container{background:#31353e;display:block;position:relative;right:3px}
._5bcj ._42fz .icon_container{background:transparent;height:32px;line-height:32px;position:static}
._42fz ._42g2, ._4-d6 ._42fz .icon_container, ._4-d6 ._42fz .icon, ._4-d6 ._42fz .status{display:none}
._4g5r ._5ap0 ._42fz .icon_container, ._4kdq .fbChatSidebar ._42fz .icon_container{padding-right:6px;right:141px}
._4g5r ._5ap0 ._42fz a:focus .icon_container, ._4g5r ._5ap0 ._42fz a:hover .icon_container, ._5468.fbChatSidebar ._42fz a:focus .icon_container, ._5468.fbChatSidebar ._42fz a:hover .icon_container{background:transparent}
._5468 ._42fz, ._5468 ._554m{float:none;outline:0}
._5bcj ._42fz{float:left}
._5468 ._42fz .pic{float:none;height:24px;margin:0;width:24px}
._4mq2 ._42fz .pic_container{float:left;height:24px;margin-right:8px;position:relative;width:24px}
._5bcj ._42fz .pic_container{position:relative}
._5bcj ._42fz .pic{float:left;height:32px;margin-right:8px;width:32px}
._5ap0 ._42fz .pic_container:after, ._5468 ._42fz .pic_container:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-92px -469px;content:'';height:28px;left:-2px;position:absolute;top:-2px;width:28px}
._5ap0 ._42fz a:focus .pic_container:after, ._5ap0 ._42fz a:hover .pic_container:after, ._5ap0 ._42fz.drag a .pic_container:after, ._5468 ._42fz a:focus .pic_container:after, ._5468 ._42fz a:hover .pic_container:after, ._5468 ._42fz.drag a .pic_container:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-121px -469px}
._5bcj ._42fz .pic_container:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -470px;content:'';height:32px;left:0;position:absolute;top:0;width:32px}
._5bcj ._42fz a:focus .pic_container:after, ._5bcj ._42fz a:hover .pic_container:after, ._5bcj ._42fz.drag a .pic_container:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-156px -405px}
._4mq2 ._528d{margin:6px 0 0 7px}
._58vt ._42i3, ._5468 ._42i3{background:#333741;border-bottom:1px solid #323740;border-top:1px solid #323740;color:#fff;opacity:1;text-shadow:none}
._5468 ._554m{height:2px;margin:5px 0 6px}
._4vcw ._554m{margin:7px 0 8px}
._5bcj ._554m{margin:9px 0 3px}
._58vt ._554r, ._4mq2 ._554r{border-bottom:1px solid #3c3f48;border-top:1px solid #25282e;margin:0}
._58vt ._554m:hover ._554r, ._4mq2 ._554m:hover ._554r{border-bottom-color:#383c43;border-top-color:#22252b}
._58vt ._554p, ._4mq2 ._554p{background:#31353e;color:#8c949f;font-size:10px}
._58vt ._554m:hover ._554p, ._4mq2 ._554m:hover ._554p{color:#c6cacf}
._5bcj ._554n{text-align:left}
._5bcj ._554p{background:transparent;color:#898f9c;font-size:11px;font-weight:bold;padding-left:8px}
._5bcj ._554q{display:none}
._4kdq .fbChatSidebar ._554m{width:56px}
._4g5r ._554v, ._4kdq .fbChatSidebar ._554u{display:none}
._4kdq .fbChatSidebar ._554v{display:inline-block;margin-top:-1px}
._554v:first-letter{vertical-align:1px}
._58vt ._42g3, ._4mq2 ._42g3{background:#333741;border-bottom:1px solid #424651;border-top:0;display:none;height:1px;margin:0}
._5bcj ._42g3{display:none}
._58vt ._42i3, ._58vt ._42g6, ._5468 ._42i3, ._5468 ._42g6{background:#3d424d;color:#fff;-webkit-font-smoothing:antialiased;line-height:1.28;text-shadow:none}
._4kdq .fbChatSidebar ._42i3{opacity:0}
._5468 ._42fz .icon{margin-right:0}
._5468 ._42fz .icon.status{margin-right:1px}
._5468 ._42fz .status{margin-left:4px}
._4mq2 ._42fz.active .status{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-325px -53px;height:9px;width:9px}
._4mq2 ._42fz.mobile .status{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-130px -76px;height:11px;width:9px}
._5bcj ._42fz.active .status{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-335px -53px;height:7px;width:7px}
._5bcj ._42fz.mobile .status{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-123px -76px;height:11px;width:7px}
.highContrast ._4mq2 ._42fz.active .status, .highContrast ._4mq2 ._42fz.mobile .status, .highContrast ._5bcj ._42fz.active .status{height:auto;width:auto}
._58vt ._42i4, ._5468 ._42i4{background-image:none;color:#acaeb6;font-size:11px;line-height:21px;padding:4px 6px 2px}
._4g5r ._5ap0 ._52zl, ._4g5r ._5ap0 ._52zk, ._4kdq ._56ci .fbChatSidebar ._52zl, ._4kdq ._56ci .fbChatSidebar ._52zk{display:none}
._550_{display:none;text-align:center}
._5468 ._550_{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-13px -672px;color:#c2c4cc;font-size:10px;height:17px;line-height:17px;width:12px}
._4mq3 ._550_{background-color:#d8dfea;-webkit-border-radius:2px;color:#3b5998;font-size:9px;height:16px;line-height:16px;margin-right:4px;padding:0 3px;vertical-align:middle}
._550- ._550_{display:inline-block}
._5468 ._42fz a:hover ._550_{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -672px}
._5468 ._550z{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-18px -646px;width:16px}
._5468 ._42fz a:hover ._550z{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-35px -646px}
._5bcj ._550_{background:#fff !important;-webkit-border-radius:2px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .25), 0 0 0 1px rgba(0, 0, 0, .15);color:#6a7180;font-weight:500;height:13px;line-height:13px;padding:0 4px;width:auto !important}
._5468 ._56xw, ._5468 ._56xx, ._5468 ._56xy, ._5468 ._56xz{padding-left:12px}
._5468 ._56xw, ._5468 ._56xx, ._5468 ._56xy{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-301px -855px}
._5468 ._56xz{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-301px -867px}
._5bcj ._56xw, ._5bcj ._56xx, ._5bcj ._56xy{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-304px -891px}
._5bcj ._56xz{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-304px -879px}
._4oes{border-top:1px solid #c9d0da;bottom:0;position:absolute}
._4oes td:first-child{vertical-align:top;width:100%}
._4oes .button{border-left:1px solid #c9d0da;-webkit-box-shadow:inset 0 1px #fff;display:block;height:24px;width:26px}
._4oes .button:hover{background-color:#fff}
._4oes .toggle{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-143px -503px}
.fbSidebarFavoriteList ._4oes .toggle{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-116px -503px}
._58vt ._4oes, ._5468 ._4oes{background:#31353e;border-top:1px solid #383c45;bottom:auto;position:static}
._5bcj ._4oes{background:#fff;border-top:0;position:relative}
._5bcj ._4oes:after{background:rgba(0, 0, 0, .1);content:'';height:1px;left:0;position:absolute;right:0;top:-1px}
._58vt ._4oes .button, ._5468 ._4oes .button{border:0;-webkit-box-shadow:none;height:32px;width:24px}
._5bcj ._4oes .button{height:27px}
._58vt ._4oes .button:hover, ._5468 ._4oes .button:hover{background-color:transparent}
._5468 ._4oes._54_b{margin-right:8px}
._58vt ._4oes .toggle{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-244px -286px}
._58vt ._4oes .toggle:hover, ._58vt ._4oes .toggle:focus{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-244px -253px}
.fbChatSidebar.offline ._52cx{display:block;position:relative}
._52cx{display:none;padding:4px 16px 0 6px;width:194px}
._52cx._5d9x{display:none;margin:0 8px;padding:0;width:187px}
._4kdq .fbChatSidebar ._52cx{width:34px}
._52cy{line-height:27px;margin-left:6px;vertical-align:top}
._4kdq .fbChatSidebar ._52cy{display:none}
._52cx i, ._52cz, ._52cy{display:inline-block}
._52cz{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAcCAMAAACXgyX+AAAANlBMVEUAAAAAAAAAAABLUFxKT1tFSlZARVFHTFhCR1NBRlJITVlOU15GS1dSV2NESVU/RFBJTlpDSFQYVgQ0AAAAA3RSTlMAMBA4h+JJAAAAJ0lEQVR4Xg3BhQHAMADAoNR98v+zDSAOi+Tsz5PmTfHD7+7h6pdAvBf+AOWLfvvPAAAAAElFTkSuQmCC);background-repeat:repeat-x;background-size:auto;background-position:0 0;color:#c2c4cc;height:28px;width:182px}
._4kdq .fbChatSidebar ._52cz{width:18px}
._52c-{line-height:28px;margin:auto;overflow:hidden;padding-left:10px;padding-right:10px;position:absolute;text-align:center;white-space:nowrap;width:162px}
._4kdq .fbChatSidebar ._52c-{padding-left:0;padding-right:0;width:28px}
._52c_{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-292px -59px;height:28px;width:5px}
._52d0{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-298px -59px;height:28px;width:5px}
._52d1{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-52px -646px;height:14px;margin-left:-10px;margin-top:8px;width:17px}
.fbChatSidebar .fbChatTypeahead, .fbChatSidebar .fbChatTypeahead .wrap{border:0}
.highContrast .fbChatSidebar .fbChatTypeahead{border:1px solid}
.fbChatSidebar .fbChatTypeahead .textInput{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:left -261px;background-color:#f4f6f9;-webkit-box-shadow:inset 2px 0 0 -1px #e0e2e9, inset 0 1px #fff;-webkit-box-sizing:border-box;color:#555;height:24px;padding-left:20px;padding-right:25px}
.fbChatSidebar.fbSidebarFavoriteList .fbChatTypeahead .textInput{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:left -293px;color:#9296a4}
.fbChatTypeahead .textInput::-ms-clear{height:0;width:0}
.fbChatSidebar .fbChatTypeahead .textInput:focus{background-color:#fff;color:#000}
._4kdq ._504q .fbChatSidebar ._504r{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-230px -286px;cursor:pointer;display:block;height:32px;width:54px}
._4kdq ._504q .fbChatSidebar ._504r:focus, ._4kdq ._504q .fbChatSidebar ._504r:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-230px -253px;background-color:#1f2228;outline:none}
._4kdq ._504q .fbChatSidebar .fbChatTypeahead .textInput{display:none}
.fbChatTab .name{white-space:nowrap}
.fbChatTab .name a,
.fbChatTab .name a:hover{color:#333;text-decoration:none}
.highlight .fbChatTab .name a,
.highlight .fbChatTab .name a:hover{color:#fff}
a .fbChatTab .funhouse{display:none}
a:hover .fbChatTab .funhouse{display:block}
.fbChatTypeahead .throbber{display:none;position:absolute;margin-top:-5px;right:6px;top:50%}
.fbChatTypeahead.hasValue .clear, .fbChatTypeahead.hasValue.typeaheadLoading .throbber{display:block}
.fbChatTypeahead.typeaheadLoading .clear{display:none}
._5468.fbChatSidebar._5384 .fbChatTypeaheadView{bottom:0;top:auto}
._5468._5384 .fbChatSidebarBody{position:relative}
._5468.fbChatSidebar._5384 .fbChatTypeaheadView{position:absolute}
._57du.fbChatTypeahead{width:146px}
._57du.fbChatTypeahead, ._57du.fbChatTypeahead .wrap{border:0}
._57du.fbChatTypeahead .uiCloseButton, ._57du.fbChatTypeahead .uiTypeaheadCloseButton{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-79px -631px;height:13px;right:9px;width:12px;z-index:1}
._57du.fbChatTypeahead .uiCloseButton:hover, ._57du.fbChatTypeahead .uiTypeaheadCloseButton:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-53px -631px}
._57du.fbChatTypeahead .uiCloseButton:active, ._57du.fbChatTypeahead .uiTypeaheadCloseButton:active{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-66px -631px}
._57dv{left:8px;position:absolute;top:5px}
._4kdq .fbChatSidebar ._57dv{opacity:0}
._57dw, ._57dx, ._57dy{display:inline-block;height:21px;width:12px}
._57dw{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-13px -609px}
._57dy{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -609px}
._57dx{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAVCAYAAACHUoQEAAAAF0lEQVQIHWMUEhb/zyghJU9L4v///yIAjk0dUh+Ir3UAAAAASUVORK5CYII=);background-repeat:repeat-x;background-size:auto;background-position:0 0;width:113px}
html ._57du.fbChatTypeahead{background:transparent}
html ._57du.fbChatTypeahead .innerWrap{position:relative}
body ._57du.fbChatTypeahead.uiTypeahead .textInput{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -340px;background-color:transparent;-webkit-box-shadow:none;color:#8c949f;font-family:Helvetica, sans-serif;height:32px;padding-left:42px;padding-top:2px}
.ie10 ._57du.fbChatTypeahead .innerWrap{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -340px;padding-left:42px}
._57du.fbChatTypeahead.uiTypeahead .textInput:focus{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-152px -340px;color:#c2c4cc}
.ie10 .fbChatSidebar ._57du.fbChatTypeahead.uiTypeahead .textInput{background-image:none;padding-left:0}
html ._57du.fbChatTypeahead .textInput::-webkit-input-placeholder{color:#515966}
html ._57du.fbChatTypeahead .textInput:-moz-placeholder{color:#515966}
html ._57du.fbChatTypeahead .textInput:-ms-input-placeholder{color:#515966}
html._4kdq .fbChatSidebar .fbChatTypeahead .textInput{padding-left:56px}
._58vt .fbChatTypeaheadView .noResults, ._4mq2.fbChatTypeaheadView .noResults{color:#c2c4cc;padding-left:6px;text-shadow:0 1px 2px rgba(0, 0, 0, .25)}
._50-v, .fbNubGroup, .fbDock .nubContainer > div, .fbDock .fbNubGroup > div{float:left;position:relative}
._50-v{-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .3)}
._50-v.openToggler, ._6nw ._50-v{-webkit-box-shadow:none}
._6nw .fbNubButton:before, ._6nw .fbNubButton:after{content:'';height:28px;position:absolute;top:-1px;width:4px}
._6nw .fbNubButton:before{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-304px -187px;left:-4px}
._6nw .fbNubButton:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-307px -153px;right:-4px}
._6nw .fbNubButton:focus:before, ._6nw .fbNubButton:hover:before{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-208px -469px}
._6nw .fbNubButton:focus:after, ._6nw .fbNubButton:hover:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-304px -340px}
._6nw .highlightTab .fbNubButton:before{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-304px -59px}
._6nw .highlightTab .fbNubButton:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-213px -469px}
._6nw .highlightTab .fbNubButton:focus:before, ._6nw .highlightTab .fbNubButton:hover:before{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-302px -155px}
._6nw .highlightTab .fbNubButton:focus:after, ._6nw .highlightTab .fbNubButton:hover:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-307px -124px}
._6nw ._50-v.openToggler .fbNubButton:before, ._6nw ._50-v.openToggler .fbNubButton:after{display:none}
.lNubContainer ._50-v{margin-right:4px}
.rNubContainer ._50-v{margin-left:4px}
._6nw .lNubContainer ._50-v{margin-right:12px}
._6nw .rNubContainer ._50-v{margin-left:12px}
._6nw .lNubContainer ._50-v.opened, ._6nw .lNubContainer ._50-v.openToggler{margin-right:9px}
._6nw .rNubContainer ._50-v.opened, ._6nw .rNubContainer ._50-v.openToggler{margin-left:9px}
.fbNubButton{background:#ebeef4;border:1px solid rgba(29, 49, 91, .3);border-bottom:0;-webkit-box-shadow:inset 0 1px rgba(255, 255, 255, .5);color:#333;display:block;font-weight:bold;height:16px;outline:none;padding:4px 5px;position:relative;z-index:1}
._6nw .fbNubButton{background:#f2f2f4 url(/rsrc.php/v2/yt/r/D47CF9k_yA8.png) repeat-x 0 -58px;-webkit-border-radius:0;border-width:1px 0 0;-webkit-box-shadow:none;padding:6px 4px 5px}
.fbNubButton, .fbNubFlyoutTitlebar, ._50-v .noTitlebar{-webkit-border-top-left-radius:1px;-webkit-border-top-right-radius:1px}
._6nw .fbNubFlyoutTitlebar, ._6nw ._50-v .noTitlebar, ._6nw ._50-v.openToggler .fbNubFlyoutTitlebar{-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px}
.fbNubButton:focus, .fbNubButton:hover{background-color:#f6f7f8;text-decoration:none}
._6nw .fbNubButton:focus, ._6nw .fbNubButton:hover{background-color:#f5f6f8;background-position:0 -87px}
._6nw ._50-v.openToggler{margin-left:4px;margin-right:-3px}
._50-v.openToggler .fbNubButton:hover, ._50-v.openToggler .fbNubButton{background:#fff;-webkit-border-radius:0;border-top:0;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .3);padding:5px}
._6nw ._50-v.openToggler .fbNubButton:hover, ._6nw ._50-v.openToggler .fbNubButton{background:#fff;border:1px solid rgba(29, 49, 91, .3);border-width:0 1px}
._6nw ._50-v.openToggler .fbNubButton:hover, ._6nw ._50-v.openToggler .fbNubButton{background-position:0 -87px;padding:7px 6px}
.fbNubFlyout{bottom:25px;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .3);position:absolute}
._6nw .fbNubFlyout{bottom:29px}
._50-v.maxHeight .fbNubFlyoutOuter{height:9999px}
._50-v .noTitlebar{border-top:1px solid rgba(0, 0, 0, .3)}
.lNubContainer .fbNubFlyout, .rNubContainer ._50-v .swapDirection{left:0;right:auto}
.rNubContainer .fbNubFlyout, .lNubContainer ._50-v .swapDirection{left:auto;right:0}
.fbNubFlyoutInner{border-bottom:1px solid rgba(0, 0, 0, .3)}
.fbNubFlyoutTitlebar{background-color:#6d84b4;border:1px solid rgba(0, 39, 121, .76);border-bottom:none;cursor:pointer}
._6nw .fbNubFlyoutTitlebar{background:#4b67a8 url(/rsrc.php/v2/yt/r/D47CF9k_yA8.png) repeat-x 0 -29px;border:1px solid #2e4588;position:relative}
.fbNubFlyoutTitlebar:hover, .menuOpened .fbNubFlyoutTitlebar{background-color:#627bae}
._6nw .fbNubFlyoutTitlebar:hover, ._6nw .menuOpened .fbNubFlyoutTitlebar{background-position:0 0}
._6nw .fbNubFlyoutTitlebar:before{background-color:rgba(0, 0, 0, .1);bottom:-2px;content:'';height:1px;left:0;position:absolute;right:0;z-index:1}
.menuOpened .fbNubFlyoutTitlebar, .menuOpened .fbNubFlyoutTitlebar:hover{-webkit-box-shadow:none}
.fbNubFlyoutTitlebar .titlebarLabel{color:#fff;font-weight:bold;line-height:18px;padding:3px 7px 4px}
.fbNubFlyoutHeader, .fbNubFlyoutBody, .fbNubFlyoutFooter, .fbNubFlyoutAttachments{background-color:#fff;border:1px solid rgba(0, 0, 0, .3);border-width:0 1px}
._6nw .fbNubFlyoutHeader, ._6nw .fbNubFlyoutBody, ._6nw .fbNubFlyoutFooter, ._6nw .fbNubFlyoutAttachments{border:1px solid rgba(29, 49, 91, .3);border-width:0 1px}
.fbNubFlyoutBody{overflow-x:hidden;overflow-y:auto;position:relative}
._6nw .fbNubButton, .fbNubButton, .fbNubButton:hover, ._50-v.openToggler .fbNubButton, .fbNubFlyout, .fbNubFlyout .flyoutInner, .fbNubFlyoutTitlebar, .fbNubFlyoutHeader, .fbNubFlyoutBody, .fbNubFlyoutFooter{-webkit-background-clip:padding-box}
._50--{bottom:0;direction:ltr;height:25px;left:0;position:fixed;right:0;z-index:300}
._6nw ._50--{height:28px}
html ._6nw ._50--{right:0}
.sidebarMode ._50--{right:205px}
.sidebarMode ._5bci ._50--, .sidebarMode ._5ap2 ._50--{right:205px}
html ._4kdq ._50--{right:0}
.fbDockWrapperLeft{right:auto}
.fbDockWrapperRight{left:auto}
.fbDock{margin:0 15px 0 0}
.fbDock .lNubContainer{float:left}
.fbDock .rNubContainer{float:right}
.rhcFooterWrap{padding-left:6px}
.rhcFooterBorder{border-top:1px solid #ccc;border-bottom:1px solid #e9e9e9}
.rhcFooterCopyright{padding:10px 0 4px}
#rhc_footer_selector{vertical-align:top}
.rhcFooterSelectorButton .img{margin:6px 0 0 3px;vertical-align:top}
._6ns ._1dsi{padding:0}
._1dsi ._6dh{margin:0}
._1dsi ._54v_, ._1dsi ._54w0{bottom:0;margin:0;top:0}
._6ns._4-d5{margin-top:4px}
._1dse{font-size:14px;padding:14px 0 0 7px}
._1dsj{color:#141823;cursor:default;font-weight:bold}
._1dse .og_composer_object{color:#141823;font-weight:bold}
._1dsc.weakReference{color:#898f9c;display:inline-block}
._6dh ._1dsl{border-bottom:1px solid #d3d6db;padding:12px 0 8px 12px}
._51z6 ._1dsl{height:30px;padding:4px 0 2px 10px}
._51z6 ._1dsl li:hover + li:after, ._51z6 ._1dsl li:hover:after, ._51z6 ._1dsl li:first-child._519b:hover:after, ._51z6 ._1dsl li:first-child:after{content:none}
._51z6 ._1dsl li{position:relative}
._51z6 ._1dsl li._519b:hover + li:after, ._51z6 ._1dsl li._519b:hover:after, ._51z6 ._1dsl li:after{background:#d3d6db;content:'';height:24px;left:-1px;position:absolute;top:2px;width:1px}
._51z6 ._5142{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAAPFBMVEX////+/v73+Pn29/j6+vv4+fr7/Pz9/f36+/v8/Pz9/v78/P35+vv9/f75+fr8/f34+fn4+Pn5+vr7+/xLxrqoAAAALUlEQVR4XjXBxQEAIQAEsUFdTvrvlX1AwmXOyiDpolGI+pPVa+djEvThxZ4O3R43AOw2dZFPAAAAAElFTkSuQmCC);background-repeat:repeat-x;background-size:auto;background-position:0 0}
._6dh ._5142{background-color:#f6f7f8}
._6dh ._9lb{color:#141823;font-family:Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;line-height:16px}
._6dh ._52lb{overflow:hidden}
._51z6 ._9lb{color:#141823;margin-left:-11px;padding:7px 12px 5px;position:relative}
._51z6 li:first-child ._9lb{margin-left:-7px;padding-left:8px}
._51z6 ._51z7{padding-left:22px}
._51z6 ._9lb:hover ._51z7{text-decoration:none}
._51z6 ._519b ._9lb:hover{background-color:transparent}
._51z6 ._9lb:hover{background-color:#e4e6e9;-webkit-border-radius:2px}
html ._6dh ._2wr{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:-469px -10px;height:8px;left:50%;margin-left:-4px;top:17px;width:15px}
html ._51z6 ._2wr{top:18px}
._6dh ._mi{margin:13px 11px 0 0}
._6dh ._2yg, ._6dh ._1dsm{border:0}
._1dsi ._6dh .fbTabGridItem .title{color:#141823;text-decoration:none}
._6dh ._1dsm .fbTabGridItem{height:112px}
._6dh a.fbTabGridItem{border:1px solid transparent}
._6dh a.fbTabGridItem:hover, ._6dh a.fbTabGridItem:active._1dsm, ._6dh a.fbTabGridItem:focus, ._1dsi ._6dh ._1dsn a.selectOver{background:#f0f2f2;border:1px solid #e9eaed;text-decoration:none}
._6dh ._2yg .input, ._6dh ._2yg .uiMentionsInput .highlighterContent{font-size:14px;line-height:18px}
._6dh ._2yg .input{height:36px;padding:8px 60px 0 7px}
._6dh ._4_z2 .input, ._6dh.child_was_focused ._2yg .input{min-height:63px}
._6dh ._2yg .uiMentionsInput .highlighter{padding:13px 5px 5px 12px}
._6dh ._1dso{margin:8px}
._6dh ._1dsp{background-color:#f6f7f8;border-top-color:#e9eaed}
._6dh ._3qig{background:transparent}
._6dh .composerAudienceWrapper{margin-top:2px}
._6dh ._1dsq{border-right:none;height:41px}
._6dh ._1dsq:hover{background:#f0f2f2}
._6dh ._509o, ._6dh ._509o:hover{background:#fff;border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;border-top:1px solid #fff;margin-left:-1px;margin-top:-1px}
._6dh ._1dsq ._1dsr, ._6dh ._1dss, ._6dh ._1dsq ._1dst{height:40px;width:40px}
._6dh ._509o ._1dsr, ._6dh ._509o ._1dss, ._6dh ._509o ._1dst{width:39px}
._6dh ._1dsu{left:-3px;position:relative;top:5px}
._6dh ._509o ._1dsu{left:-2px}
._6dh ._4_z3{top:14px}
._6dh ._1dsv ._1dsr{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:-118px -35px}
._6dh ._1dsa ._1dsr{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:-487px -35px}
._6dh ._1dss, ._6dh ._1dst{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:-282px -35px}
._6dh ._1dsb, ._6dh ._1dsf ._1dst{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:-241px -35px}
._6dh ._1dsw ._1dsr{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:-446px -35px}
._6dh ._1dsw._1dsx ._1dsr{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:-405px -35px}
._6dh ._4-jj ._1dsr{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:-200px -35px}
._6dh ._4-jj._4-jh ._1dsr{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:-159px -35px}
._6dh ._4_nu ._1dsr{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:-364px -35px}
._6dh ._4_nu._4_na ._1dsr{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:-323px -35px}
body.canvas.liquid._504q #blueBar div#pageHead{min-width:768px}
.tinyViewport ._504q{overflow-x:auto}
._504q, ._504q ._4_37{overflow-x:hidden}
html ._4g5r._504q #blueBarHolder #blueBar #pageNav{margin-right:10px}
._4kdq ._504t{margin-left:-150px}
._4kdq ._50cp{margin-left:-5px}
._50cp ._53io{top:-3px !important}
._5bci ._50cp ._53io{top:auto !important}
._5ap0, ._5ap3{background-color:#31353e;height:100%;left:0;outline:0;overflow:hidden;top:0;width:56px;z-index:301}
._5dqb{width:205px}
._5bci ._5ap0, ._5bci ._5ap3{background-color:#232937}
._5ap3{position:fixed}
._5ap0:after{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAABCAYAAADjAO9DAAAAG0lEQVQIHWNkgAAWIMUOxDxAzA/EwkAsDsRSAAQAAGyA+/CLAAAAAElFTkSuQmCC);background-repeat:repeat-y;background-size:auto;background-position:0 0;bottom:0;content:'';pointer-events:none;position:absolute;right:0;top:0;width:8px;z-index:10}
._4g5v{padding:0 0 5px}
._5dqg ._4g5v{padding:0;width:205px}
._57mq{overflow:hidden}
._4vcw ._4g5v{padding-bottom:8px}
._4w57{overflow:hidden}
._4w5b{border-top:1px solid #25282e;margin-top:5px}
._5bci ._4w5b{border-top-color:#1b1f2c}
._5071{height:1px;margin-top:-1px}
._4vcw ._4w5b{margin-top:7px}
._4g5p{display:block;padding:4px 30px 4px 8px;position:relative}
._4vcw ._4g5p{padding-bottom:2px;padding-top:2px}
._5bci ._4g5p{padding:8px 30px 8px 16px}
._5468 ._4_ez, ._5468 ._4g5_, ._4gcf{background:#31353e;outline:0}
._5bci ._5468 ._4_ez, ._5bci ._5468 ._4g5_, ._5bci ._4gcf{background:#232737}
._521g{border-bottom:1px solid #292b34}
._5bci ._521g{border-bottom-color:#1b1e2b}
.uiContextualLayer ._4gb_{background:#31353e}
._5bci .uiContextualLayer ._4gb_{background:#232737}
._4g5p:focus, ._4g5p:hover, ._6nw ._4gcf:focus, ._6nw ._4gcf:hover, ._4g5p:focus ._4vsz, ._4g5p:hover ._4vsz, ._4gb_:focus, ._4gb_:hover{background:#1f2228;outline:none}
._5bci ._4g5p:hover, ._5bci ._4gcf:focus, ._5bci ._4gcf:hover, ._5bci ._4g5p:focus ._4vsz, ._5bci ._4g5p:hover ._4vsz, ._5bci ._4gb_:focus, ._5bci ._4gb_:hover{background:transparent}
._5dqb ._4g5p:hover, ._5dqb ._4gcf:focus, ._5dqb ._4gcf:hover, ._5dqb ._4g5p:focus ._4vsz, ._5dqb ._4g5p:hover ._4vsz, ._5dqb ._4gb_:focus, ._5dqb ._4gb_:hover{background:#1d212f}
._521g:hover{border-bottom:1px solid #17191e}
._4g5r ._4g5p:hover, ._6nw ._4gcf:hover{text-decoration:none}
._4-k7{float:left;margin-right:8px;position:relative}
._4-k7, ._4g5w, ._4g5x{height:24px;width:24px}
._5bci ._521g ._4-k7, ._5bci ._521g ._4g5w{height:28px;width:28px}
._5bci ._521g ._4-k7{margin:-2px}
._4-k7:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-92px -469px;content:'';height:28px;left:-2px;position:absolute;top:-2px;width:28px}
._4g5p:hover ._4-k7:after, ._4g5p.drag ._4-k7:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-121px -469px}
._5bci ._4g5p ._4-k7:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-29px -503px}
._5dqb ._4g5p:hover ._4-k7:after, ._5bci ._4g5p.drag ._4-k7:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-87px -503px}
._5bmj ._4-k7:after, ._4_ic ._4-k7:after{display:none}
._4_ic ._4g5w{height:28px;left:-2px;position:absolute;top:-2px;width:28px}
._4g5x{background:#2d3139}
._4g5y{color:#c2c4cc;height:24px;line-height:24px;margin-left:32px;text-shadow:0 1px 2px rgba(0, 0, 0, .25)}
._5bci ._4g5y{color:#e9eaed;margin-left:34px;text-shadow:none}
._5ap0 ._4-d8, ._5ap0 ._4-td, ._4kdq ._4-d8, ._4kdq ._4-td, ._5bci ._5ap0._5dqc ._4g5y{visibility:hidden}
._4vsz{height:24px;line-height:22px;min-width:10px;padding-right:12px;position:absolute;right:0}
._5ap0 ._4vsz, ._5468 ._4vsz{background:#31353e}
._5bci ._4vsz{background:none}
._5ap2 ._5ap0._5dqc ._4vsz, ._4kdq ._5468 ._4vsz{right:143px}
._5bci ._5ap0._5dqc ._4vsz{background:transparent !important;right:150px;top:-3px;z-index:1}
._4g5z{color:#c2c4cc;display:inline-block;font-size:10px;line-height:17px;margin-top:1px;padding:0 3px;vertical-align:middle}
._5ap0 ._4g5z, ._5468 ._4g5z{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-13px -672px}
._5ap0 ._4g5p:hover ._4g5z, ._5468 ._4g5p:hover ._4g5z{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -672px}
._4g5z._502g{padding:0 2px}
._5ap0 ._4g5z._502g, ._5468 ._4g5z._502g{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-18px -646px}
._5ap0 ._4g5p:hover ._4g5z._502g, ._5468 ._4g5p:hover ._4g5z._502g{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-35px -646px}
._4kdq ._5468 ._502g{left:2px;position:relative}
._5bci ._4g5z{background:#373e4d;background-image:none !important;-webkit-border-radius:2px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .25), 0 0 0 1px rgba(0, 0, 0, .15);color:#fff;font-size:9px;height:13px;line-height:13px;padding:0 4px}
._5bci ._5ap0._5dqc ._4g5z{background-color:#fff;background-image:none !important;-webkit-border-radius:5px;color:#6a7180;height:10px;line-height:10px}
._505r{float:left;height:24px;margin-right:8px;white-space:nowrap;width:24px}
._4w5a{margin:8px 0 0 3px}
._4-pu{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-179px -469px;float:left;height:28px;margin:-2px 6px -2px -2px;width:28px}
._4-d8, ._4-td{color:#c2c4cc;line-height:24px;text-decoration:none;text-shadow:0 1px 2px rgba(0, 0, 0, .25)}
._4-d9, ._4w59 ._4-da, ._5468 ._4_ez._57kj{display:none}
._5dqb ._4_ez._57kj, ._4w59 ._4_ez._57kj{display:block}
._4w59 ._4-d9{display:inline}
._4w59 ._4-pu{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-150px -469px}
._4g5_{border-bottom:1px solid rgba(0, 0, 0, .25);border-top:1px solid #3c3f48;overflow:hidden}
._5bci ._4g5_{border-top-color:#2d3141}
._57kj._4_ez{overflow:visible}
._57kj._4_ez:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -325px;bottom:-4px;content:'';height:4px;left:0;pointer-events:none;position:absolute;right:0}
._4w5b ._4g5_{border-bottom:0}
._4w5b ._4_ez:after{display:none}
._4_ez ._4g5_{color:#8c949f;display:block;font-size:11px;font-weight:bold;padding:5px 8px 3px;text-decoration:none;text-shadow:0 -1px 0 rgba(0, 0, 0, .09);text-transform:uppercase}
._5bci ._4_ez ._4g5_{padding-left:16px}
._4_ez ._4g5_:hover{border-top:1px solid #2a2d33}
._4gb_:hover{color:#c6cacf}
._4gb_:active{color:#c2c4cc}
div._4g5v ._521g{height:31px;padding:9px 20px 2px 8px}
._5bci ._4g5v ._521g{padding-left:16px}
div._4g5v ._521h{position:relative}
._4_vf{bottom:0;left:-3px;position:absolute;top:0;width:59px;z-index:1}
._53s4{height:0;overflow:hidden}
._4w56{-webkit-transition:height .6s cubic-bezier(0.19, 1, .22, 1)}
._4g5r ._4-tb{border-top:1px solid #383c45;padding-bottom:6px;padding-top:5px}
._4g5r ._4-tb:hover{border-top:1px solid #2a2d33}
._4-td, ._4-tb ._4-d8{display:none}
._4-tb._51lw ._4-td{color:#66707f}
._4-tb ._4-td{display:block}
._4-tb ._4-pu{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-63px -470px;height:28px;margin-bottom:2px;width:28px}
._4-tb._51lw ._4-pu{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-170px -439px}
._4-xf{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-204px -518px;float:right;height:9px;margin:1px 4px 1px 3px;width:6px}
._4gb_:hover ._4-xf{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-304px -325px}
._4gb_:active ._4-xf{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-197px -518px}
._4_ey ._4-xf{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-285px -239px;height:7px;margin-top:3px;width:8px}
._4_ey._4gb_:hover ._4-xf{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-267px -239px}
._4_ey._4gb_:active ._4-xf{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-276px -239px}
._4_vf, ._5ap2 ._4gcf, ._4kdq ._5468 ._4-xf{display:none}
._51sj{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-283px -92px;background-color:transparent;display:inline-block;height:32px;margin-right:6px;vertical-align:top;width:24px}
.highContrast ._51sj{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.highContrast ._51sj::before{content:attr(aria-label)}
._51sj:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-285px -285px}
._51sj:active{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-285px -253px}
._5bcj ._51sj{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-23px -557px;height:27px;margin-right:8px;width:24px}
._5bcj ._51sj:hover, ._5bcj ._51sj:active{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:1px -557px}
._52e7{cursor:default}
._52e7:hover{background:none;color:#66707f}
._52e7:active{color:#66707f}
._56c4{left:50%;margin:-16px;position:absolute;top:50%}
._52s1{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-54px -545px;height:11px;position:absolute;right:10px;top:11px;width:12px}
._4vcw ._52s1{top:9px}
._4kdq ._52s1{right:145px}
._52x9, ._4-d6 ._54so{cursor:default}
._52x9, div._5468 ._4-d6 ._54so, div._5468.fbChatSidebar ._4-d6 ._54so{padding-left:30px;padding-right:30px}
._52xa{cursor:pointer;left:0;padding:9px 7px;position:absolute;top:0}
._4vcw ._52xa{padding:7px}
._52xb{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-172px -53px;display:block;height:16px;opacity:.8;-webkit-transition:opacity .2s;width:16px}
._52s3 ._52xb{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-155px -53px}
._52xa:hover ._52xb{opacity:1}
._52s9 ._52sa, div._52s9 ._52sa:hover{border-bottom:none;border-top-color:transparent}
._52s9{height:0;margin-bottom:4px;opacity:0;overflow:hidden;-webkit-transition:height .6s cubic-bezier(0.19, 1, .22, 1), opacity .6s, margin-bottom .6s}
._57m-{margin-bottom:-4px;-webkit-transition:margin-bottom .6s}
._4vcw ._52s9{margin-bottom:6px}
._4vcw ._57m-{margin-bottom:-6px}
._52s6 ._52s9, ._4-d6 ._52s9{height:26px;margin-bottom:0;opacity:1}
._52s6 ._57m-, ._4-d6 ._57m-{margin:0}
._52s4{color:#8c949f;float:right}
._52s4:hover{text-decoration:underline}
._4kdq ._52s4{display:none}
._52s0, ._4g5r ._4-d6 ._52s3 ._54so{cursor:move;cursor:-webkit-grab}
._52s3.droppable_placeholder{background-color:#141618;border-bottom:1px solid #383c45;-webkit-box-shadow:0 3px 3px -3px rgba(0, 0, 0, .2) inset, 0 -3px 3px -3px rgba(0, 0, 0, .2) inset;margin-top:-2px}
._52s3.drag{background:#1f2228;border-top:1px solid #24262a;cursor:move;cursor:-webkit-grabbing;margin-top:-1px;z-index:1}
._52s3.drag:before{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -330px;top:-5px}
._52s3.drag:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -335px;bottom:-4px}
._52s3.drag:after, ._52s3.drag:before{content:'';height:4px;left:0;position:absolute;width:204px}
._5468 .ego_column{width:auto}
._5468 .ego_column .uiHeader, ._4kdq ._56ci ._55nf{display:none}
._5468 .ego_section{margin:0}
._5468 .ego_unit_container{padding:0}
._4kdq ._54yu{visibility:hidden}
._4kdq ._5699{width:46px}
._54yv{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-58px -503px;height:28px;width:28px}
._54yw._54yv{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -503px}
._54yx{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -503px;float:right;height:28px;margin-top:-2px;width:28px}
._54yy{display:none;position:relative}
._54yy.uiCloseButton{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-93px -545px;float:left;height:8px;margin:9px 4px;width:7px}
._54yy.uiCloseButton:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-85px -545px}
._54yz{margin-right:8px;margin-top:0;position:relative}
._54yz:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-92px -469px;content:'';height:28px;left:-2px;position:absolute;top:-2px;width:28px;z-index:1}
._54y-, ._54y_:hover ._54yy{display:block}
.ego_section ._54y_.ego_unit{border:0;padding:4px 10px 2px 8px}
._54y_.ego_unit, ._54y_ .clearfix{margin:0}
._4vcw ._54y_.ego_unit{padding:2px 10px 0 8px}
._54y_ .ego_action{float:right;height:28px;margin-top:-2px;width:28px}
._54y_ ._54yu{color:#c2c4cc;margin-top:-1px;text-shadow:0 1px 2px rgba(0, 0, 0, .25);width:125px}
._54y_:hover ._54yu{width:110px}
._54y_ ._54z0{color:#c2c4cc;font-weight:500}
._6nw ._54y_ ._54y-{font-size:10px;line-height:11px}
._4kdq ._56ci .fbChatSidebar .uiScrollableAreaBody{min-height:0}
._4kdq ._56ci .fbChatSidebarBody{overflow:hidden}
._56ci ._5ap0 ._4_vf, ._4kdq ._56ci .fbChatSidebar ._4_vf{display:block}
._4kdq ._56ci ._56du ._4_vf, ._56ci ._5ap0._5dqb ._4_vf{display:none}
._4kdq ._56ci ._52i7:focus, ._4kdq ._56ci ._52i7:hover{background-color:#1f2228;outline:none}
._56ci.ie10 ._5ap0 a:hover ._4_vf, ._4kdq ._56ci.ie10 a:hover ._4_vf{background-image:url(/rsrc.php/v2/y4/r/-PAXP-deijE.gif)}
._1skc{vertical-align:middle}
._1skd{display:inline-block;vertical-align:middle;width:212px}
._1ske{display:inline;vertical-align:bottom}
._1sk2 ._1skc{background-image:url(/rsrc.php/v2/y6/r/Wk7lE1Bji1R.png);background-repeat:no-repeat;background-size:auto;background-position:-69px -135px;height:10px;width:16px}
._1sk0 ._1skc{background-image:url(/rsrc.php/v2/y6/r/Wk7lE1Bji1R.png);background-repeat:no-repeat;background-size:auto;background-position:-14px -153px;height:15px;margin-right:3px;width:13px}
._1sk1 ._1skc{background-image:url(/rsrc.php/v2/y6/r/Wk7lE1Bji1R.png);background-repeat:no-repeat;background-size:auto;background-position:-86px -135px;height:10px;width:16px}
._50mz{height:25px;width:160px}
._50mz.opened{width:260px}
._6nw ._50mz{height:28px}
._50mz.highlightTab .fbNubButton{background-color:#6d84b4;border-color:#3a5997;-webkit-box-shadow:inset 0 1px rgba(255, 255, 255, .1);color:#fff}
._6nw ._50mz.highlightTab .fbNubButton{background-color:#5b72ad;background-position:0 -29px;border-color:#2e4588;-webkit-box-shadow:none;color:#fff}
._6nw ._50mz .titlebar .titlebarText, ._6nw ._50mz.highlightTab .fbNubButton .name{color:#fff;text-shadow:0 -1px rgba(0, 0, 0, .25)}
._50mz.highlightTab:hover .fbNubButton{background-color:#627bae}
._6nw .highlightTab .fbNubButton:focus, ._6nw .highlightTab .fbNubButton:hover{background-color:#4662a3;background-position:0 0}
._50mz.opened .fbNubButton{display:none}
._50mz .fbChatTab{margin-left:2px}
._50mz .fbChatTab .name{line-height:15px;overflow:hidden;text-overflow:ellipsis}
._6nw ._50mz .fbChatTab .name{color:#141823;line-height:15px;text-shadow:0 1px rgba(255, 255, 255, .25)}
.ie10 ._6nw ._50mz .fbChatTab .name{line-height:16px}
._51jx{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -647px;color:#fff;font-size:9px;font-weight:bold;height:16px;padding-top:1px;position:absolute;right:12px;text-align:center;top:-8px;width:17px}
._6nw ._51jx{background-color:#de111e;background-image:-webkit-gradient(linear, center bottom, center top, from(#de101a), to(#f73841));background-image:-webkit-linear-gradient(bottom, #de101a, #f73841);background-position:0 0;-webkit-border-radius:3px;-webkit-box-shadow:0 1px rgba(0, 0, 0, .33);font-size:11px;margin-right:4px;padding:1px 4px 2px;position:static;text-shadow:0 -1px rgba(0, 0, 0, .25);width:auto}
._6nw ._51jx._5ayw{background-color:#4e5665;background-image:-webkit-gradient(linear, center bottom, center top, from(#4e5665), to(#898f9c));background-image:-webkit-linear-gradient(bottom, #4e5665, #898f9c)}
.ie10._6nw ._51jx{background-image:none}
._50mz .loading{display:block;margin:0 auto}
._50mz .fbDockChatTabFlyout{display:none;bottom:0;height:285px;width:100%}
._50mz.opened .fbDockChatTabFlyout{display:block}
._50mz .fbNubFlyoutInner{border-bottom:0}
._50mz.highlightTitle .fbNubFlyoutTitlebar{background-color:#4d68a2}
._6nw ._50mz.highlightTitle .fbNubFlyoutTitlebar{background-position:0 0}
._50mz .fbNubFlyoutHeader{position:relative}
._50mz .sheetContainer{position:absolute;top:100%;width:100%}
._50mz.sheetSlide .sheetContainer{overflow:hidden}
._50mz .sheetContainer .sheet{-webkit-background-clip:padding-box;background-color:#f2f2f2;border-bottom:1px solid rgba(0, 0, 0, .1);position:relative;z-index:1}
._50mz.sheetSlide .sheetContainer .sheet{bottom:100%}
._50mz .MercuryTabSheetLoading{padding:5px 115px 5px}
._50mz .fbNubFlyoutBodyContent, ._50mz .conversationContainer{height:100%;width:100%}
._50mz .conversationContainer{table-layout:fixed}
.bubbles .fbDockChatTabFlyout .fbNubFlyoutBody{background-color:#edeff4}
._6nw .bubbles ._50mz .fbNubFlyoutFooter:before{background-color:#fff;border-color:#b2b2b2;border-style:solid;border-width:0 1px;bottom:-1px;content:'';height:1px;margin-left:-1px;position:absolute;width:100%}
._6nw .bubbles ._50mz .fbNubFlyoutFooter:after{background-color:rgba(0, 0, 0, .1);content:'';height:1px;position:absolute;top:-1px;width:100%}
._50mz .conversationContainer .conversation{padding-top:3px}
._50mz .fbNubFlyoutFooter{position:relative}
._50mz .fbNubFlyoutAttachments{position:relative}
._552h{border-top:1px solid #c9d0da;cursor:text;max-height:77px;overflow-x:hidden;overflow-y:auto;padding:5px 49px 3px 5px;position:relative}
._5d0_{padding-right:75px}
._6nw .bubbles ._552h{border-top-width:0;padding-bottom:4px;padding-top:7px}
._50mz .chatAttachmentShelf{border-top:1px solid #c9d0da;background-color:#fff;font-size:10px;max-height:68px;overflow-x:hidden;overflow-y:auto;position:relative}
._50mz .uploadFileRow{height:13px;padding:2px 5px 6px}
._6nw ._50mz.focusedTab .titlebar{background-position:0 0}
._50mz.focusedTab .titlebar{background-color:#4d68a2}
._552m{border:0;display:block;height:0;margin:0;min-height:16px;outline:none;padding:0;resize:none;width:100%}
._50mz .funhouse .close{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-268px -59px;height:15px;vertical-align:top;width:15px}
._50mz .funhouse .close:hover, ._50mz .funhouse .close:focus{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-268px -91px}
._50mz .funhouse .close:active{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-268px -107px}
._6nw ._50mz .funhouse .close{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-162px -673px}
._6nw ._50mz .funhouse .close:active, ._6nw ._50mz .funhouse .close:hover, ._6nw ._50mz .funhouse .close:focus{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-178px -673px}
._6nw .highlightTab._50mz .funhouse .close{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-40px -479px}
._6nw .highlightTab._50mz .funhouse .close:active, ._6nw .highlightTab._50mz .funhouse .close:hover, ._6nw .highlightTab._50mz .funhouse .close:focus{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-196px -414px}
._50mz .funhouse{margin-top:1px}
._50mz.opened .funhouse{display:block;margin-left:5px}
._50mz .titlebar .titlebarLabel{padding:0}
._50mz .titlebar .titlebarTextWrapper{color:#fff;margin:3px 7px 4px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._6nw ._50mz .titlebar .titlebarTextWrapper{font-size:12px;margin:5px 8px 3px}
._50mz .titlebar .titlebarText{margin:0;color:#fff}
._50mz .titlebar .noLink{text-decoration:none}
._50mz .titlebar .button{display:inline-block;height:25px;margin-right:-1px;vertical-align:top}
._6nw ._50mz .titlebar .button{height:26px}
._50mz .titlebar .close{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -583px;margin-right:3px;width:21px}
._50mz .titlebar .close:active, ._50mz .titlebar .close:focus, ._50mz .titlebar .close:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-22px -583px}
._6nw ._50mz .titlebar .close{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-37px -473px;margin-right:3px}
._6nw ._50mz .titlebar .close:active, ._6nw ._50mz .titlebar .close:focus, ._6nw ._50mz .titlebar .close:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-193px -408px}
._50mz .metaInfoContainer{background-color:#fff;padding-left:3px;position:absolute;right:0;top:-9px}
.bubbles ._50mz .metaInfoContainer{display:none}
._552n{bottom:-1px;position:absolute;right:0}
._6nw .bubbles ._552n{bottom:0}
._552o{float:left;height:26px}
._50mz .emoticonsPanel{float:left;position:relative}
._50mz .emoticonsPanel .panelFlyout{border-bottom:2px solid #293e6a;bottom:24px;right:0}
._50mz .emoticonsPanel .emoteTogglerImg{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-145px -441px;border:1px solid transparent;border-top:none;position:relative;z-index:1}
._50mz .emoticonsPanel .emoteTogglerImg:focus, ._50mz .emoticonsPanel .emoteTogglerImg:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-195px -374px;outline:none}
._6nw ._50mz .emoticonsPanel .panelFlyout{bottom:26px}
._50mz .emoticonsPanel ._590j.panelFlyout{border-left:0;border-right:0;bottom:40px}
._6nw ._50mz .emoticonsPanel ._590j.panelFlyout{bottom:42px}
._6nw ._50mz .emoticonsPanel .emoteTogglerImg{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-145px -440px;height:27px;top:1px}
._6nw .bubbles ._50mz .emoticonsPanel .emoteTogglerImg{top:0}
._6nw ._50mz .emoticonsPanel .emoteTogglerImg:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-195px -373px}
._50mz .emoticonsPanel.openToggler .emoteTogglerImg{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-93px -441px;background-color:#6d84b4;border-bottom:none;border-left:1px solid #3b5998;border-right:1px solid #3b5998;border-top:none;padding-bottom:1px}
._6nw ._50mz .emoticonsPanel.openToggler .emoteTogglerImg{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-93px -440px}
._50mz .emoticonsPanel.openToggler ._5bvk.emoteTogglerImg{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-119px -441px;background-color:transparent;border-color:transparent}
._6nw ._50mz .emoticonsPanel.openToggler ._5bvk{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-119px -440px}
._50mz.typing .fbChatTab .wrapWrapper{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:right -43px;float:left;max-width:133px;padding-right:15px}
._6nw ._50mz.typing .fbChatTab .wrapWrapper{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:right -24px;max-width:127px;padding-right:18px}
._6nw ._50mz.typing.highlightTab .fbChatTab .wrapWrapper{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:right -2px}
._50mz.typing .fbNubButton:hover .fbChatTab .wrapWrapper{max-width:105px}
._50mz .titlebar i.titanArchiveWarning{margin-right:5px}
._6nw ._50mz .titlebar i.titanArchiveWarning{height:18px;margin-right:4px;margin-top:1px;opacity:.7}
._50mz .callBackLink{white-space:nowrap}
._50mz.disabled .callBackLink{display:none}
._4g5r ._50mz:last-child .titlebarButtonWrapper .uiSelectorMenuWrapper{left:auto;right:0}
._5eem{padding:5px 3px}
._5eem li a{display:block}
._5eem li .img{float:left;margin-right:5px}
._552n ._5een{display:inline-block;float:left;height:26px;padding:0}
._6nw ._552n a._5een{padding-top:1px}
._5een .img{margin:7px 4px}
._50m_ .titlebarButtonWrapper{margin-left:12px}
._51sn{display:none;height:13px;width:13px}
._5238 ._51sn{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:left -223px;display:inline-block}
._6nw ._5238 ._51sn{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:left -224px;display:inline-block;margin-right:1px}
._5239 ._51sn{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:left -66px;display:inline-block;margin-right:2px;position:relative;top:2px}
._6nw ._5239 ._51sn{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -67px;display:inline-block}
._50m_ .titlebar .videoicon{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-94px -557px;display:none;width:22px}
._5238 .titlebar .videoicon{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-48px -557px}
._5238 .titlebar .videoicon:active, ._5238 .titlebar .videoicon:focus, ._5238 .titlebar .videoicon:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-71px -557px}
.videoCallEnabled ._50m_ .titlebar .videoicon{display:inline-block}
.videoCallEnabled ._50m_.disabled .titlebar .videoicon{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-48px -557px;cursor:default}
._6nw ._50m_ .titlebar .videoicon, ._6nw .videoCallEnabled ._5238 .titlebar .videoicon{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-164px -374px;opacity:1;width:25px}
._6nw ._50m_ .titlebar .videoicon{opacity:.3}
._6nw ._5238 .titlebar .videoicon:active, ._6nw ._5238 .titlebar .videoicon:focus, ._6nw ._5238 .titlebar .videoicon:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-272px -157px}
._50m_ .titlebar .addToThread{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-163px -557px;width:22px}
._50m_ .titlebar .addToThread:active, ._50m_ .titlebar .addToThread:focus, ._50m_ .titlebar .addToThread:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-186px -557px}
._6nw ._50m_ .titlebar .addToThread{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-96px -376px;width:25px}
._6nw ._50m_ .titlebar .addToThread:active, ._6nw ._50m_ .titlebar .addToThread:focus, ._6nw ._50m_ .titlebar .addToThread:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-130px -376px}
.tooltipItemWithIcon{margin-right:20px}
.videoCallPromo{width:225px}
._5238.highlight .fbNubButton .wrap{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -225px}
._5238 .fbNubButton .wrap{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:0 -195px;padding-left:12px}
._5239 .fbNubButton .wrap{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:left -165px;padding-left:15px}
._6nw ._50m_.highlightTab .fbNubButton .wrap{background-image:none;padding-left:0}

._1mjb{color:#bbb;font-size:14px;height:30px;white-space:nowrap}
._1mje{height:0;line-height:0;width:0}
._1mjb object{height:0;width:0}
._1mjb a:hover{text-decoration:none}
._1mj2{display:inline-block;float:left;height:30px;position:relative}
._1mj4{height:30px;left:0;overflow:hidden;position:absolute;top:0}
._1mj3 ._1mj4{border-right:1px solid #657fb1;-webkit-transition:all .2s linear}
._1miz{background-color:#fff;border:1px solid #ccc;display:block;height:28px}
._1mj4 ._1miz{border-color:#657fb1}
._1miz, ._1mi-, ._1mj0{-webkit-border-radius:4px}
._1mj4 ._1miz, ._1mj4 ._1mi-, ._1mj4 ._1mj0{background-color:#7794cd;color:#fff}
._1mj1{border-bottom:2px solid #ddd;height:0;padding-top:13px}
._1mj4 ._1mj1{border-bottom-color:#fff}
._1mi-{background-color:#fff;float:left;padding:0 10px}
._1mj0{background-color:#fff;color:#bbb;display:inline-block;float:right;font-size:12px;line-height:28px;padding:0 10px}
._1mj5{color:#bbb;display:block;line-height:28px;position:relative;vertical-align:middle}
._3qi6{padding:0 10px}
._1mj7{display:inline-block;font-size:12px;font-weight:bold;height:28px;vertical-align:middle}
._1mj8{display:inline-block;font-size:12px;padding:0 10px}
._1mj9{border-left:1px solid #bbb;display:inline-block;height:28px;padding:0 8px}
._1mjb i{display:inline-block;vertical-align:top}
._1mi_{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-155px -646px;height:14px;margin-top:7px;width:8px}
._1mj4 ._1mi_{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-164px -646px}
._4g4x ._1mi_{background-image:url(/rsrc.php/v2/y-/r/AGUNXgX_Wx3.gif);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:11px;margin-top:9px;width:16px}
._1mj3 ._1mi_{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-76px -545px;height:10px;margin-top:9px;width:8px}
._1mj3 ._1mj4 ._1mi_{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-67px -545px}
._1mj6{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-194px -672px;height:16px;margin-top:6px;width:15px}
._1mja{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-296px -224px;height:14px;margin-top:7px;width:13px}
._z6a{min-height:78px}
._ksh{background-color:#f3f3f3;float:left;max-width:100%;position:relative}
.async_saving ._ksh::after{background-color:rgba(243, 243, 243, .3);background-image:url(/rsrc.php/v2/yk/r/LOOn0JtHNzb.gif);background-position:center;background-repeat:no-repeat;background-size:auto}
._ksh img{display:block;max-width:100%}
._ksh::after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
.bubbles ._ksh::after{border-color:rgba(0, 0, 0, .15)}
.bubbles ._ksh, .bubbles ._ksh img{-webkit-border-radius:2px}
._55pm{max-width:100%;position:relative;width:100%}
._55pj{background-repeat:no-repeat;background-size:cover;display:block;float:left;line-height:0;max-width:100%;overflow:hidden;padding-bottom:100%;width:100%}
._57jm{background-position:center;background-size:auto}
._55pj img{display:none}
._56oy ._55pk{width:176px}
.bubbles._56oy ._55pk{padding:4px;width:auto}
.bubbles._56oy ._55pm{width:176px}
._55pn{position:absolute}
._55pm{position:relative}
._510g{clear:both;color:#a6a6a6;margin-left:26px;padding-bottom:5px;-webkit-user-select:none;visibility:hidden}
._ksg ._510g{margin-left:18px}
.bubbles ._510g{color:#999ca5;font-size:11px;margin-left:45px;margin-top:-2px;padding-bottom:1px}
.bubbles ._510g.typing ._510h{display:none}
.bubbles ._510g._510e{float:right;padding-right:10px}
._510g ._510h{float:left;height:12px;margin-right:7px;position:relative;width:12px}
.bubbles ._510g ._510h{margin-right:5px}
._510g.sentFromMobile, ._510g.sentFromEmail, ._510g.typing, ._510g.seen{visibility:visible}
._510g.sentFromMobile ._510h{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-300px -479px}
._510g.sentFromEmail ._510h{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-300px -579px}
.bubbles ._510g.sentFromEmail ._510h{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-301px -765px;margin-right:3px;margin-top:3px}
._510g.seen ._510h{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-300px -379px}
.bubbles ._510g.sentFromMobile ._510h{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-304px -672px;margin-right:0;margin-top:1px}
.bubbles ._510g.seen ._510h{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-80px -377px;margin-right:2px}
._510g.seen a{color:inherit}
li + ._2qm{margin-top:-1px}
li._2qm{background-color:#f7f7f7;font-weight:bold;padding-bottom:4px;padding-top:4px}
._2qn{font-weight:bold}
._356, ._355 ._357{display:none}
._355 ._356{display:inline}
._2qs ._2qq ._52l8, span._52l8{color:#333 !important;font-weight:bold;padding:1px 2px}
._ksg ._52l8{display:inline-block;margin-top:-1px}
._357{font-weight:normal}
div._4ck.uiTypeaheadView{width:100%}
.uiContextualTypeaheadView li._2qm{border-top:solid 1px #e2e2e2}
.uiContextualTypeaheadView li ._3ks{height:32px;width:32px}
._1sk5{width:100%}
._1sk4 ._1sk5{overflow:hidden;position:absolute}
._1sk6{-webkit-background-clip:padding-box;background-color:#f2f2f2;border-bottom:1px solid rgba(0, 0, 0, .1);max-height:140px;overflow-x:hidden;overflow-y:auto;position:relative;z-index:1}
@media (max-height: 320px){._1sk6{max-height:60px}
}
._1sk4 ._1sk6{bottom:100%}
._1sk7{padding:5px 115px 5px}
.emoticonsPanel div._590j.panelFlyout{border:0;-webkit-border-radius:2px;-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);outline:0;padding:0;right:-11px;width:256px}
.emoticonsPanel div._590j .panelFlyoutArrow{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-132px -532px;bottom:-13px;height:13px;position:absolute;right:13px;width:22px}
._590j .emoticonsTable{border-spacing:15px;margin:17px auto 3px auto}
._5907{height:148px;overflow:hidden}
._5906{background:#ececec;background:-webkit-gradient(linear, center top, center bottom, from(#fff), to(#f3f3f2));background:-webkit-linear-gradient(#fff, #f3f3f2);border-bottom:1px solid #d9d9da;-webkit-border-radius:2px 2px 0 0;overflow:hidden}
._55bn{border-right:1px solid rgba(0, 0, 0, .1);display:inline-block;height:32px;line-height:31px;outline:0;position:relative;text-align:center;width:32px}
._55bo{background:#9196a0;background:-webkit-gradient(linear, center top, center bottom, from(#7d828a), to(#9196a0));background:-webkit-linear-gradient(#7d828a, #9196a0);border-right:0;-webkit-box-shadow:inset 0 0 3px rgba(0, 0, 0, .33);margin-left:-1px;width:34px}
._55bw, ._590u{max-height:20px;max-width:20px;vertical-align:middle}
._55bo ._55bw, ._590u{display:none}
._55bo ._590u{display:inline-block}
._55bq{height:100%;position:relative}
._55bq .uiScrollableArea.contentAfter:after{background:-webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, .05)), to(#fff));background:-webkit-linear-gradient(rgba(255, 255, 255, .05), #fff);-webkit-border-radius:0 0 3px 3px;height:12px}
._5bo4{padding:8px}
._55bp{-webkit-border-radius:5px;display:inline-block;height:52px;line-height:52px;padding:4px;text-align:center;width:52px}
._55bp:hover{background-color:#f2f2f2}
._55bp:active{background-color:#e6e6e6}
._55bx{max-height:52px;max-width:52px;vertical-align:middle}
._5905{left:50%;margin:-6px 0 0 -6px;position:absolute;top:50%}
._58_w, ._58_x, ._59wb{height:32px;line-height:31px;outline:0;text-align:center}
._58_w, ._58_x{position:relative;width:25px}
._58_w{border-right:1px solid rgba(0, 0, 0, .1)}
._59wb, ._58_x{border-left:1px solid rgba(0, 0, 0, .1)}
._58_w:after, ._58_x:after{content:'';height:32px;position:absolute;width:3px}
._58_w:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-284px -59px;right:-3px}
._58_x:after{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-288px -59px;left:-3px}
._590r{overflow:hidden}
._58_y{display:inline-block;position:relative;white-space:nowrap}
._58_z{display:inline-block}
._59wb{background:#d3d3d3;background:-webkit-gradient(linear, center top, center bottom, from(#dedede), to(#d0d0d0));background:-webkit-linear-gradient(#dedede, #d0d0d0);width:32px}
._590q, ._5bo3{vertical-align:middle}
.draggingMode{-webkit-user-select:none}
.photocrop .bg, .photocrop .guard, .photocrop .wrapper, .photocrop .wrapper *{position:absolute}
.photocrop .bg{background:#000;opacity:.6}
.photocrop .guard{height:100%;left:0;top:0;width:100%}
.photocrop .highlight{left:0;top:0}
.photocrop .viewport{cursor:move}
.photocrop .viewport div{background-color:#d8dfea;height:10px;opacity:.5;width:10px}
.photocrop .viewport .nw{cursor:nw-resize;left:-5px;top:-5px;z-index:3}
.photocrop .viewport .ne{cursor:ne-resize;right:-5px;top:-5px;z-index:3}
.photocrop .viewport .se{cursor:se-resize;bottom:-5px;right:-5px;z-index:3}
.photocrop .viewport .sw{cursor:sw-resize;bottom:-5px;left:-5px;z-index:3}
.sp_cq0ox8{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:39px;width:40px}
.sx_b18bfd{width:7px;height:14px;background-position:-546px -20px}
.sx_477f55{width:12px;height:13px;background-position:-13px -20px}
.sx_bedf75{width:12px;height:13px;background-position:0 -20px}
.sx_c440ad{width:468px;height:4px;background-position:0 -10px}
.sx_e6d486{width:468px;height:4px;background-position:0 -15px}
.sx_ea45bb{width:58px;height:58px;background-position:0 -35px}
.sx_0d2d4e{width:58px;height:58px;background-position:-59px -35px}
.sx_b8d6a2{width:552px;height:4px;background-position:0 0}
.sx_f7956c{width:552px;height:4px;background-position:0 -5px}
.sx_f9f74e{width:6px;height:9px;background-position:-33px -20px}
.sx_439c6e{width:6px;height:9px;background-position:-26px -20px}
.sx_107002{background-position:-446px -35px}
.sx_818dfa{background-position:-405px -35px}
.sx_29b84b{background-position:-364px -35px}
.sx_8b2c2c{background-position:-323px -35px}
.sx_717d1b{width:1px;height:36px;background-position:-528px -35px}
.sx_950db3{background-position:-282px -35px}
.sx_c349ec{background-position:-241px -35px}
.sx_0fba2a{width:15px;height:8px;background-position:-469px -10px}
.sx_0c36af{background-position:-200px -35px}
.sx_037f3c{background-position:-159px -35px}
.sx_0e237c{background-position:-118px -35px}
.sx_a858e3{background-position:-487px -35px}
._50zy{background-color:transparent;border:0 none;cursor:pointer;font-size:0 !important;overflow:hidden;padding:0;vertical-align:middle}
html ._50zy:focus{-webkit-box-shadow:0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15);outline:none}
html ._50zy._5f0v:focus{-webkit-box-shadow:none}
._50zz{height:10px;width:10px}
._50zz._50z-{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-293px -325px}
._50zz._50z-:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-260px -325px}
._50zz._50z-:active, ._50zz._42fs{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-282px -325px}
._50zz._50z_{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-209px -572px}
._50zz._50z_:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-271px -325px}
._50-0{height:12px;width:12px}
._50-0._50z-{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-136px -631px}
._50-0._50z-:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-197px -532px}
._50-0._50z-:active, ._50-0._42fs{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-149px -631px}
._50-0._50z_{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-110px -631px}
._50-0._50z_:hover{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-123px -631px}
.highlight{background:#fff8cc;border-bottom:1px solid #ffe222;padding-bottom:1px}
.uiClearableTypeahead .selected .clear{display:block}
.uiClearableTypeahead .clear, .uiTypeaheadDisabled .selected .clear{display:none;position:absolute;margin-top:-7px;right:3px;top:50%}
.uiClearableTypeahead .selected{padding-right:16px}
.uiTypeaheadDisabled .selected{padding-right:0}
.ButtonImg{background-repeat:no-repeat;display:inline-block;height:10px;margin-top:2px;vertical-align:top;width:9px;height:14px}
.ButtonImg.addConnection{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-155px -583px;width:11px}
.ButtonImg.addToProfile{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-281px -224px;width:14px}
.ButtonImg.allowAccess{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-81px -583px;width:12px}
.ButtonImg.back{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-214px -557px;width:5px}
.ButtonImg.block{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-99px -609px;width:10px}
.ButtonImg.bookmark{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-56px -583px;width:12px}
.ButtonImg.check{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-140px -609px}
.ButtonImg.connect{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-57px -609px;width:10px}
.ButtonImg.create{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-129px -646px;height:10px;width:8px}
.ButtonImg.create.selected{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-121px -646px}
.ButtonImg.download{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-197px -609px}
.ButtonImg.edit{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-78px -609px;width:10px}
.ButtonImg.feature{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-208px -503px;width:11px}
.ButtonImg.forward{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-212px -609px;width:8px}
.ButtonImg.friendLists{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-112px -646px;width:8px}
.ButtonImg.like{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-106px -583px;width:12px}
.ButtonImg.message{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-187px -532px;height:12px}
.ButtonImg.placePin{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-28px -631px;height:13px}
.ButtonImg.poke{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-131px -583px;width:12px}
.ButtonImg.privacy{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-9px -631px}
.ButtonImg.remove{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-159px -609px}
.ButtonImg.search{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-311px -10px;width:11px}
.ButtonImg.settings{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-120px -609px;width:10px}
.ButtonImg.share{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-146px -646px;width:8px}
.ButtonImg.subscribe{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-166px -532px;width:11px;height:12px}
.ButtonImg.signal{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-95px -646px}
.ButtonImg.tag{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-201px -583px;width:11px}
.ButtonImg.takePhoto{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-178px -583px;height:14px;width:11px}
.ButtonImg.takePhoto.selected{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-167px -583px}
.ButtonImg.trashCan{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-188px -631px}
.ButtonImg.unfollow{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-78px -646px}
.ButtonImg.videoCall{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-246px -325px;width:13px;height:10px}
.ButtonImg.voteDown{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-197px -609px}
.ButtonImg.voteUp{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-178px -609px}

#bootloader_AmRDC { height: 42px; }
.bootloader_AmRDC { display:block !important; }