/*!CK:661071278!*//*1375687388,178129705*/

._5cui ._5cug, ._5cui ._5cuh{display:inline-block;margin-right:5px}
._5cmi{border-bottom:1px solid #d9d9d9;margin-bottom:12px}
._5cmf{color:#4e5665;display:inline-block;font-size:14px;font-weight:500;padding:16px;position:relative}
._5cmf:hover, ._5cmg{color:#141823}
._5cmg:hover{text-decoration:none}
._5cmh{bottom:-1px;left:50%;margin-left:-8px;position:absolute}
._55k6{width:100%}
._55k5{font-size:18px;font-weight:500;padding:20px;text-align:center}
._532c ._52v6{padding-top:15px}
._5a2p{height:16px;overflow:hidden;text-align:right}
._5a2p + ._5a2p{margin:4px 0 0 0}
._5a2s{color:#4e5665;float:left;font-size:12px;text-align:left}
._5a2t{height:100%;margin:0 0 0 48px;position:relative}
._5a2q{height:36px;line-height:36px}
._5a2r{padding:10px 0 0 0}
._5bb9{display:table-cell;padding:0 8px 0 0;vertical-align:top;width:50%}
._5bb9 + ._5bb9{border-left:1px solid #7f7f7f;padding:0 0 0 8px}
._5bba{color:#adb3bc;font-weight:bold;padding:0 0 2px 0}
._5bbb{font-size:16px;font-weight:bold}
._53pu{border:1px solid #e9e9e9;-webkit-border-radius:5px;border-top-color:#f2f2f2;color:#4e5665;width:128px}
._53pv{background:#fafbfb;background:-webkit-gradient(linear, center top, center bottom, from(#fefefe), to(#f0f1f2));background:-webkit-linear-gradient(top, #fefefe 0, #f0f1f2 100%);font-size:11px;padding:7px}
._53pw{font-weight:bold;padding-bottom:4px;text-transform:uppercase}
._53px{border-top:1px solid #e5e6e7;color:#4e5665;display:block;line-height:25px;padding:0 7px}
._53px:first-child{border-top-color:#d8d9da}
._53px:hover{color:#5890ff;text-decoration:none}
._53py{display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:114px}
._53pz{width:91px}
._53p-{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -854px;float:right;height:12px;margin-top:5px;width:16px}
._5baw{font-size:14px;text-align:center}
._5bay{margin:16px 14px 13px 13px}
._53eo{color:#4e5665;font-size:14px;line-height:34px;padding:0 0 0 2px;width:140px}
._53ep{height:36px;width:360px}
._532v{width:772px}
._532u{float:right;height:0;padding:20px 17px 0 0}
._532w{margin-bottom:-10px;padding:20px 34px 0 0}
._58q_{margin:-39px 15px 0 0}
._532o ._50n6, ._5few ._50n6{float:right}
._55q6{padding:53px 0 0 20px;width:200px}
._55q6 ._50n6{float:none}
._55q5{float:right}
._557q{width:210px}
._5d64{width:500px}
._5d65{width:131px}
._5d64, ._5d65{color:#4e5665}
html ._55vx{background:rgba(0, 0, 0, .7)}
._55m4{background:#f6f7f8;border-bottom:1px solid #eaeaeb;font-size:16px;font-weight:500;padding:10px 18px}
._55ng{float:right;margin-top:5px}
._4_1n{width:946px}
#globalContainer #content ._4_1n, #globalContainer #content ._4_1n button{font-family:'Helvetica Neue', Arial, sans-serif;font-size:12px}
._4_1o{background:#fff;border:1px solid #d3d7dc;border-bottom-width:2px;-webkit-border-radius:5px;margin-top:16px}
._5ab_{border:2px solid #5890ff}
._5329{margin:14px 15px}
._55xk{color:#4e5665;font-size:14px;font-weight:500;padding:16px 0 8px;text-align:center;text-shadow:0 1px 0 #fff}
._5bqa{overflow:hidden;padding:3px 18px 0 0;position:relative}
._5bqb{position:absolute;right:2px}
._5bqc{display:none}
._5bqd{display:block;max-width:180px;white-space:normal;word-wrap:break-word}
._59ex ._50n7{float:left}
._50n5{float:left;height:13px;margin-left:8px;width:13px}
._50n8{color:#4e5665;font-weight:normal;line-height:13px;padding-left:4px}
._55q8{color:#4e5665;font-size:16px;font-weight:bold;line-height:12px;padding-left:7px}
._50n9{height:3px;margin-bottom:5px;margin-top:5px}
._59ey{height:1px;margin-bottom:6px;margin-top:6px}
._55q7{border-left:1px solid #e9eaed;float:left;margin:15px 0 30px 0;padding-left:10px;width:93px}
._55q7:first-child{border-left:0;padding-left:0}
._55q7 ._50n5{margin-left:0}
._55q7 ._50n8{display:block;padding:5px 0 0 0}
._540o{margin:0 auto;padding:20px 0;width:32px}
._5ack{font-size:18px;font-weight:bold;text-align:center}
._5acl{margin:4px auto 0;width:745px}
._5bb5{color:#898f9c;font-size:16px;line-height:1.6em}
li._5bb5{list-style-type:disc;margin-left:20px;padding:0}
._5d0u{color:#141823}
._5acm{border:0;position:relative}
._5aca{position:absolute;right:12px;top:14px}
._5aca ._5b15{border-right:1px solid #e5e5e5;padding-right:20px}
._5aca ._5b16{color:#626aad;float:left}
._5aca .uiCloseButton{display:inline-block;height:16px;margin-left:20px}
._5acn{min-height:160px}
._5acf{border-top:1px solid #d9d9d9;padding:8px 16px 4px 16px;position:relative;text-align:center}
._5acg, ._5acj{margin-top:2px;position:absolute}
._5acg{left:16px}
._5acj{right:16px}
._5aci{display:inline-block}
._5ap_{bottom:55px;color:#626aad;position:absolute;right:20px}
._5aq0{float:left;padding:12px 0 0 15px;width:400px}
._5aq1{float:left}
._5aq2{float:left;font-weight:bold;padding:11px 0 0 15px}
._5du7{border-left:1px solid #e5e5e5;display:inline-block}
._5aq2 .uiCloseButton{vertical-align:middle}
._4-ws{background:#fbfbfc;background:-webkit-gradient(linear, center top, center bottom, from(#fefefe), to(#f6f7f8));background:-webkit-linear-gradient(top, #fefefe 0, #f6f7f8 100%);border-bottom:1px solid #d3d7dc;-webkit-border-radius:5px 5px 0 0}
._4_5f{background:url(/rsrc.php/v2/yK/r/c9dU7seFUl9.png) left no-repeat;color:#4e5665;display:inline-block;font-size:14px;font-weight:500;padding:13px 20px;position:relative}
._4_5f:first-child{background:none}
._4_5f:hover{color:#141823;text-decoration:none}
._4_5g, ._4_5g:hover{color:#141823;cursor:default}
._51jf{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:-17px -854px;bottom:-1px;height:9px;left:50%;margin:0 0 0 -8px;overflow:hidden;position:absolute;width:16px}
._54z3{padding:7px 7px 0 0}
._54z3 ._593c{background:url(/rsrc.php/v2/yK/r/c9dU7seFUl9.png) left no-repeat}
._54z3 ._593b ._593d{background:none;-webkit-border-radius:4px 0 0 4px;border-right:0}
._54z3 ._593b ._593e{border-left:0;border-right:0}
._54z3 ._593b ._593f{border-left:0;-webkit-border-radius:0 4px 4px 0}
._55zb{line-height:15px;padding:0 12px 0 0;vertical-align:middle}
._55zc{display:inline-block;padding:3px 12px 0 0}
._5594{background:#eaeff0;border-bottom:1px solid #e1e2e4;font-size:14px;padding:11px 0 10px;text-align:center;text-shadow:0 1px 0 #fff}
._5595{font-weight:bold}
._5596{color:#5d626c}
._55dn{height:357px;margin:16px 14px 13px 13px}
._55dn ._5feu{float:left;margin-left:15px}
._55dn ._5feu:first-child{margin-left:0}
._55do{border-top:1px solid #dddedf;margin:0 16px;padding-top:13px}
._55do:first-child{border-top:0;padding-top:0}
._55dn ._5cuq{margin:0 0 9px 0}
._55do .lfloat{margin-right:-35px}
._55do .rfloat{margin-left:-35px;margin-right:-15px}
._55ev{width:100%}
._55m-{background:#fbfbfc;background:-webkit-gradient(linear, center top, center bottom, from(#fefefe), to(#f6f7f8));background:-webkit-linear-gradient(top, #fefefe 0, #f6f7f8 100%);border-top:1px solid #e4e6ea;color:#4e5665;cursor:pointer;display:block;font-size:14px;font-weight:500;height:17px;padding:12px;text-align:center}
._55m-:hover{color:#5890ff}
._55ju{border:1px solid #e5e5e5;border-top:0;display:inline-block;margin:-1px 0 -1px 16px;vertical-align:top}
._55ju:first-child{border-left:0;margin-left:0}
._55ju:last-child{border-right:0}
._55jr{color:#898f9c;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:154px}
._55js{color:#898f9c;overflow:hidden;text-align:right;text-overflow:ellipsis;width:105px}
._55jt{overflow:hidden;text-align:right;text-overflow:ellipsis;white-space:nowrap;width:105px}
._55ii{min-height:432px}
._55ij{background:#eae9ed;min-height:400px;padding:16px;width:613px}
._55k0{border-top:1px solid #e9eaed;line-height:17px;padding:8px 10px;width:250px}
._55k0:first-child{border-top:0}
._55k1{color:#4e5665;font-size:11px;font-weight:bold;text-transform:uppercase}
._5ax4{display:block;height:18px;width:18px}
._5ax5{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -740px}
._5ax6{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -759px}
._5ax7{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -778px}
._5ax8{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -797px}
._5ax9{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -816px}
._5axa{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -835px}
._5axb{display:block;height:34px;width:34px}
._5axc{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -140px}
._5axd{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -105px}
._5axe{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -70px}
._5axf{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -35px}
._5axg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
._5axh{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -175px}
._5b9o ._52v6{width:100%}
._555e{color:#898f9c;font-size:10px;width:70px}
._555c{background-size:cover;height:32px;width:32px}
._5591{color:#3b5998;max-height:32px;overflow:hidden}
._55ik{cursor:pointer;word-break:break-all}
._55ik:hover ._5591{text-decoration:underline}
._555d{margin:0 auto}
._5b9m{min-height:36px;width:120px}
._5b9n{min-height:36px;width:108px}
._5bdi{margin:-5px 0;min-width:77px}
._5a32 + ._5a31{margin:0 0 0 8px}
._5a31 + ._5a32{margin:0 0 0 12px;padding:0}
._5a32{display:inline-block;vertical-align:middle}
._55k2{font-size:19px;font-weight:700;line-height:25px}
._55k3{color:#898f9c;padding-left:1px}
._5bbg, ._5bbg._42fr:active{line-height:normal;min-width:75px;padding:6px 0 3px;text-align:center}
._5bbh{display:inline-block;line-height:1.368em;padding:0 8px}
._5bbi:not(:hover){background:transparent;border-color:transparent;-webkit-box-shadow:none}
._5bbj{display:block}
._5bbk{display:block;font-weight:normal}
._5bbl{color:#da2929;font-weight:bold}
._5bbm ._5bbk{font-weight:bold}
._55vy{-webkit-box-sizing:border-box;display:inline-block;padding-left:7px;position:relative}
._55vy:first-child{padding-left:0}
._5fbt{padding:7px 5px 0 0}
._5fbt ._55j-, ._5fbt ._55j_{display:inline}
._55j_{line-height:14px}
._55j-{font-size:14px}
._5fbu:before{background:#d3d6db;bottom:3px;content:"";left:0;position:absolute;top:4px;width:1px}
._5fbu:first-child:before{content:none}
._5fby{display:table;width:100%}
._5fbz{display:table-row}
._5fbz ._5fbx{display:table-cell}
._4_1z{background:#f0f2f4;background:-webkit-gradient(linear, center top, center bottom, from(#eceff1), color-stop(0.5, #f0f2f4), to(#eef1f2));background:-webkit-linear-gradient(top, #eceff1 0, #f0f2f4 50%, #eef1f2 100%);border-bottom:1px solid #d4d6da}
._4_1r{border-left:1px solid #d3d7dc;color:#4e5665;float:left;font-size:16px;font-weight:500;line-height:28px;padding:14px;text-shadow:1px 1px 1px #fff;width:282px}
._4_1r:first-child{border-left:0}
._4_1r:last-child{margin-right:0}
._4_1r:hover{color:#5890ff;text-decoration:none}
._4_1s, ._4_1s:hover{color:#5890ff;cursor:default}
._51jg{float:left;height:28px;margin-right:10px;overflow:hidden;width:28px}
._51ji ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -450px}
._51ji:hover ._51jg, ._4_1s._51ji ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -479px}
._51jh ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -508px}
._51jh:hover ._51jg, ._4_1s._51jh ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -537px}
._51jj ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -566px}
._51jj:hover ._51jg, ._4_1s._51jj ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -595px}
._51pv ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -392px}
._51pv:hover ._51jg, ._4_1s._51pv ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -682px}
._51pu ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -363px}
._51pu:hover ._51jg, ._4_1s._51pu ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -334px}
._51ps ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -305px}
._51ps:hover ._51jg, ._4_1s._51ps ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -276px}
._51pt ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -210px}
._51pt:hover ._51jg, ._4_1s._51pt ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -243px}
._51t- ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -624px}
._51t-:hover ._51jg, ._4_1s._51t- ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -653px}
._593g ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -711px}
._593g:hover ._51jg, ._4_1s._593g ._51jg{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-repeat:no-repeat;background-size:auto;background-position:0 -421px}
._5cur{border-top:1px solid #dddedf;margin:0 15px 10px 15px;padding:15px 0 0 0}
._5cur:first-child{border-top:0;padding-top:0}
._5cur:last-child{padding-bottom:0}
._52v6{border-collapse:collapse}
._52sh{background:#fafbfb;background:-webkit-gradient(linear, center top, center bottom, from(#fff), to(#f6f7f8));background:-webkit-linear-gradient(#fff, #f6f7f8);font-weight:400}
._52si{border-bottom:1px solid #c1c1c1;border-left:1px solid #e4e4e4;border-top:1px solid #d9d9d9;padding:5px 7px}
html #globalContainer #profile_page_insights_hubble ._52v6 ._5322{font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;font-size:12px;line-height:1.358}
._53p_{background:#f6f7f8}
._5322{border-left:1px solid #e4e6ea;padding:12px 8px}
._53q0{border-top:1px solid #f4f4f4}
._52si:first-child, ._5322:first-child{border-left:0}
._5a33{padding:12px;text-align:right}
._5asv ._52v6{width:100%}
._5asu{font-weight:bold}
._5b9d{border:1px solid rgba(0, 0, 0, .1);border-width:1px 0 1px 1px}
._5b9d:first-child{border-width:1px 1px 1px 0}
._5bc3{display:block;overflow:hidden;padding:5px 7px;position:relative;text-align:right}
._5b9e{cursor:pointer}
._5b9f{background:#e9eaed;background:-webkit-gradient(linear, center top, center bottom, from(#e9eaed), to(#f6f7f8));background:-webkit-linear-gradient(#e9eaed, #f6f7f8)}
._5b9i{float:left}
._5b9h{border:solid;border-color:transparent transparent #4f5764 transparent;border-width:5px 4px;height:0;overflow:hidden;position:absolute;right:8px;width:0}
._5b9g ._5b9h{border-color:#4f5764 transparent transparent transparent;margin:5px 0 0 0}
._5b9k{border:0;margin:-2px -8px -9px 0;vertical-align:top}
._5b9j{display:block;outline:0;padding:2px 0 7px;text-align:left;width:121px}
._555b{overflow:hidden}
._5a2u{display:inline-block;padding:0 8px 0 0;vertical-align:top}
._5a2u + ._5a2u{border-left:1px solid #7f7f7f;padding:0 0 0 8px}
html ._59e1{display:block;margin:0 auto}
._59e2{display:none}
._59e3{max-width:250px;white-space:normal}
._5db-{padding-top:9px}
._52de{float:right;padding:9px 16px 0 0}
._5dc2:first-child{margin-bottom:5px}
._5dc3{color:#898f9c;display:inline-block;font-weight:bold;padding:1px 10px 0 0;width:33px}
._5dc0{color:#898f9c;float:left;margin:3px 0 0 21px}
._5db_{height:12px;padding-right:176px;text-align:right}
._5dc1{color:#6382ad;font-weight:bold;margin-left:7px}
span._5dc1{color:#4e5665}
._5e2u{padding:12px;text-align:right}
._5feu{color:#333;cursor:pointer;display:block;width:294px}
._5feu:hover{text-decoration:none}
._5fez{background:#fafbfb;border-bottom:1px solid #e5e5e5;display:block;padding:20px 16px}
._5fey{background:#eef1f2;border-bottom:1px solid #e5e5e5;display:block;font-size:13px;font-weight:500;padding:20px 16px;text-align:center}
._5feu ._5fez{border:1px solid #e5e5e5;padding:13px 16px}
._5fe-{background-image:url(/rsrc.php/v2/ye/r/PhzFiLvmC7n.png);background-repeat:no-repeat;background-size:auto;background-position:-25px -75px;float:right;height:10px;margin-top:6px;width:7px}
._5fez:hover{text-decoration:none}
._5fev:hover ._5fez h4, ._5fe_:hover h4{color:#5890ff}
._5fev:hover ._5fe-, ._5fe_:hover ._5fe-{background-image:url(/rsrc.php/v2/ye/r/PhzFiLvmC7n.png);background-repeat:no-repeat;background-size:auto;background-position:-33px -75px}
._5few{border:1px solid #e5e5e5;border-top:0;height:292px;padding:15px 0 0 0}
._5ejd{font-size:16px;font-weight:500}
._5eje{color:#4e5665;font-size:12px;line-height:16px;margin-top:2px;max-width:650px}
._5137{display:block;left:0;margin:0;overflow:hidden;padding:0;position:absolute;top:0;-webkit-transition-duration:300ms;-webkit-transition-property:opacity, -webkit-transform;-webkit-transition-timing-function:ease-out}
._57qv{width:104px}
._57qv._57r0{padding-top:1px}
._57qv._57qw{padding-bottom:1px}
._57qx{border-left:1px solid #bababb;position:relative}
._57qy{position:absolute}
._57r0 ._57qy{top:0}
._57qw ._57qy{bottom:0}
._57q_{background:#fafafa;border:1px solid #bababb;left:-1px;padding:7px;position:relative;width:86px}
._57r0 ._57q_{-webkit-border-radius:3px 3px 3px 0;top:-1px}
._57qw ._57q_{-webkit-border-radius:0 3px 3px 3px;bottom:-1px}
._57qt{color:#191e28;display:block;font-size:16px;font-weight:bold}
._57qu{color:#6a7180;display:block;font-size:12;font-weight:bold}
._57qz{height:20px;overflow:hidden;position:relative;width:20px;z-index:1}
._57r0 ._57qz{top:-2px}
._57qw ._57qz{top:2px}
._57r1{border-color:#BABABB transparent transparent transparent;border-style:solid;border-width:10px;height:0;left:-11px;position:absolute;top:0;width:0}
._57r1:after{border-color:#FAFAFA transparent transparent transparent;border-style:solid;border-width:10px;content:'';height:0;left:-11px;position:absolute;top:-10px;width:0}
._57q-{border-color:transparent transparent #BABABB transparent;border-style:solid;border-width:10px;bottom:0;height:0;left:-11px;position:absolute;width:0}
._57q-:after{border-color:transparent transparent #FAFAFA transparent;border-style:solid;border-width:10px;bottom:-10px;content:'';height:0;left:-11px;position:absolute;width:0}
._51i4:before{content:'';display:inline-block;height:200px;margin-right:-0.25em;vertical-align:middle}
._51i4{display:inline-block;position:relative;vertical-align:middle;width:300px}
._5c7e{background-color:#282828;border:0;-webkit-border-radius:5px;-webkit-box-shadow:0 1px 20px rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .1);color:#fff;display:inline-block;font-size:11px;line-height:1.28;margin:20px;padding:4px 8px;position:relative;text-align:left;vertical-align:middle;white-space:nowrap}
._51i0, ._51i3, ._51i1{max-width:334px}
._51wj{border-top:1px solid #b2b2b2;color:#6a7180;display:block;font-size:12px;margin-top:4px;padding-top:4px}
._51i3{color:#fff;display:block;font-size:16px;font-weight:bold}
._51i1{color:#6a7180;display:block;font-size:12;font-weight:bold}
._51i6{border:4px solid transparent;border-left:0;border-right-color:#282828;font-size:0;height:0;left:16px;line-height:0;margin:-4px 0 0 -20px;position:absolute;top:50%;width:0}
._51i5{background:#fff}
._51i5 ._51i0{border-color:#d8d8d8;color:#666}
._51i5 ._51i3{color:#000}
._51i5 ._51i1{color:#7f7f7f}
._51i5 ._51i6{border-right-color:#fff}
.sp_1slklf{background-image:url(/rsrc.php/v2/yd/r/-2Ba_SZAPbU.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:28px;width:28px}
.sx_31e964{width:16px;height:12px;background-position:0 -854px}
.sx_f541d1{width:16px;height:9px;background-position:-17px -854px}
.sx_e9a603{background-position:0 -450px}
.sx_7129a0{background-position:0 -479px}
.sx_7f4ee3{width:32px;height:32px;background-position:0 -210px}
.sx_1aa60c{width:32px;height:32px;background-position:0 -243px}
.sx_914b27{background-position:0 -508px}
.sx_a2c0d2{background-position:0 -537px}
.sx_c719ee{background-position:0 -566px}
.sx_b8356a{background-position:0 -595px}
.sx_42b17b{background-position:0 -624px}
.sx_e139ac{background-position:0 -653px}
.sx_585299{background-position:0 -711px}
.sx_1d8ff2{background-position:0 -421px}
.sx_bb3978{background-position:0 -392px}
.sx_198a45{background-position:0 -682px}
.sx_41667a{background-position:0 -363px}
.sx_1bf568{background-position:0 -334px}
.sx_f51ab6{background-position:0 -305px}
.sx_53058d{background-position:0 -276px}
.sx_b2bd7e{width:18px;height:18px;background-position:0 -740px}
.sx_0ae4b4{width:18px;height:18px;background-position:0 -759px}
.sx_ba523d{width:18px;height:18px;background-position:0 -778px}
.sx_9c91dd{width:18px;height:18px;background-position:0 -797px}
.sx_63432b{width:18px;height:18px;background-position:0 -816px}
.sx_1b0046{width:18px;height:18px;background-position:0 -835px}
.sx_fd9d00{width:34px;height:34px;background-position:0 -140px}
.sx_142b88{width:34px;height:34px;background-position:0 -105px}
.sx_e9ed63{width:34px;height:34px;background-position:0 -70px}
.sx_533a7b{width:34px;height:34px;background-position:0 -35px}
.sx_6c3d13{width:34px;height:34px;background-position:0 0}
.sx_7a8cd5{width:34px;height:34px;background-position:0 -175px}
.sp_2e9h0v{background-image:url(/rsrc.php/v2/yf/r/SgfnbvWBIuk.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_1eef48{height:14px;background-position:0 -34px}
.sx_cb10f3{background-position:0 0}
.sx_700634{background-position:0 -17px}
.sp_evuqh1{background-image:url(/rsrc.php/v2/yj/r/F74iCdIb3HK.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:31px}
.sx_fed709{width:10px;height:10px;background-position:0 -34px}
.sx_4c39b7{background-position:0 0}
.sx_80ca63{background-position:0 -17px}
._5c6a{cursor:default;width:232px}
._5c6b{background:url(/rsrc.php/v2/yz/r/HXxRVo7sWOx.png) #f6f7f8 repeat-x;border-bottom:1px solid #d9d9d9;height:32px;position:relative}
._5c6c{line-height:32px;text-align:center}
._5c6d{background:transparent;border:none;cursor:pointer;line-height:0;margin:0;padding:9px 12px;position:absolute;top:1px}
._5c6e{left:1px}
._5c6f{right:1px}
._5c6g{border-bottom:1px solid #d3d6db;padding:2px}
._5c69{text-align:center;width:32px}
._5c6h{padding:4px}
._5c68{display:inline-block;width:32px}
._5c66{border:1px solid transparent;-webkit-border-radius:3px;color:#adb2bb;display:inline-block;line-height:22px;text-align:center;-webkit-user-select:none;width:30px}
._5c66:hover, ._5c66:focus{text-decoration:none}
._5dtg{color:#000}
._5dtg:hover, ._5dtg:focus{background-color:#42599e;border-color:#30497a;color:#fff;font-weight:bold}
._5c67{background-color:#c4cde0;border-color:#c4cde0;font-weight:bold}
._57u_{margin:-1px;overflow:hidden;padding:0;position:relative}
._57u_:after{border:1px solid rgba(0, 0, 0, .15);bottom:0;content:'';left:0;pointer-events:none;position:absolute;right:0;top:0}
._57u_:first-child, ._57u_:first-child:after{-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px}
._57u_:last-child, ._57u_:last-child:after{-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px}
._4-u4 > img{vertical-align:bottom;width:100%}
._5c6j{position:relative}
._5c6i{-webkit-box-shadow:0 2px 8px 0 rgba(0, 0, 0, .3)}
._5c6k{cursor:pointer;position:absolute;right:4px;top:0}
._5c6l{border:1px solid #c7ccda;color:#627aad;cursor:pointer;font-weight:bold;padding:3px 3px 4px;width:92px}
._5aw9{list-style:none;margin:0;overflow:hidden;padding:0 20px 0 0}
._5awc{background:#e5e5e5;color:#898f9c;float:left;height:29px}
._5awd{background:#6e8ffc;color:#fff}
._5awe{font-size:12px;padding:7px 3px 7px 35px;position:relative;text-align:center}
._5awc:first-child{-webkit-border-radius:2px 0 0 2px}
._5awc:first-child ._5awe{padding-left:15px}
._5awe:before, ._5awe:after{border-bottom:29px solid transparent;border-left:20px solid #6e8ffc;border-top:29px solid transparent;content:" ";display:block;height:0;left:100%;margin-top:-29px;position:absolute;top:50%;width:0}
._5awe:before{border-left:20px solid #fff;margin-left:2px}
._5awe:after{border-left:20px solid #e5e5e5}
._5awd ._5awe:after{border-left-color:#6e8ffc}
._585n{background-color:#5890ff;border:1px solid #d1d2d5;-webkit-border-radius:4px;overflow:hidden;padding:0 0 0 40px}
._585o{background-color:#da2929}
._585p{float:left;margin:9px 0 0 -29px}
._585r{background:#fff;margin:0;padding:9px 30px 9px 10px}
._585q{float:right;margin:12px 12px 0 0}
._585n a{color:inherit;font-weight:bold}
._5abm{-webkit-border-radius:2px;height:100%;min-width:1px;overflow:hidden;text-align:left;white-space:nowrap}
._5abn{background:#e7ebf2;display:inline-block;height:100%;min-width:1px;position:relative;vertical-align:top}
._5abo{-webkit-border-radius:2px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.2);height:100%;position:relative;top:-100%;width:100%}
.uiLayerPage{margin:0 auto;width:720px}
.uiLayerPage .uiOverlayContent{border:none;-webkit-box-shadow:0 0 1px rgba(0, 0, 0, .25), 0 1px 5px 3px rgba(0, 0, 0, .05), 0 5px 4px -3px rgba(0, 0, 0, .06)}
.uiLayerPage .uiLayerPageCloseWrapper{position:absolute;right:0;top:-43px}
.uiLayerPageInner{padding:40px 0}
.uiLayerPageDefaultPadding{padding:15px}
.uiLayerPageFitHeightOverflow{overflow-x:hidden;overflow-y:auto}
.uiLayerPageFooter{padding:8px 10px}
.insights-header{background-color:#f2f2f2;border-top:1px solid #e2e2e2;line-height:14px;margin-bottom:10px;padding:4px 5px 5px}
.insights-header .header-title{font-weight:bold}
.insights-header ul li.righthand{float:right}
.insights-header .header-timestamp{color:gray;margin-left:5px}
.insights-error{background-color:#ffebe8;border:1px solid #dd3c10;padding:10px;margin:10px 0 10px 0}
.insights-warning{background-color:#edeff4;border:1px solid #d8dfea;padding:10px}
.insights-section{margin-bottom:20px;padding:0 5px}
.insights-toolbar-main{margin:0 -7px 10px;padding:6px 7px}
.insights-toolbar-main .insights-date-indicator{padding-top:3px}
.insights-toolbar{position:relative}
.insights-toolbar .insightsDateSelector{float:left}
.insights-toolbar .insightsDateRange{margin-left:0}
.insights-toolbar .insightsDateRangeCustom{left:0;right:auto;top:35px}
.insights-toolbar-main .export-button .customimg,
.insights-toolbar .export-button .customimg{margin-top:3px}
.ufb-glossary-tip{color:#a7a7a7}
.insights-summary{border-bottom:1px solid #e7e7e7;padding:0 0 10px 0}
.insights-summary .fbInsightsStatisticNumber{font-size:20px}
.insights-breakdown-graph{padding:15px}
.insights-breakdown-graph .graph-canvas{position:relative;width:125px;height:125px}
.insights-breakdown-graph .fbInsightsStatistic{width:133px}
.insights-breakdown-graph .breakdown-graph-legend{width:133px}
.insights-breakdown-graph .breakdown-graph-edu{width:133px}
.insights-breakdown-graph .breakdown-small-stat{width:100%;text-align:right;color:gray}
.insights-breakdown-graph .breakdown-graph-legend td{vertical-align:top}
.post-box-table{margin-top:20px}
.post-box-table .ufb-dataTable-header-container{border-left:1px solid #999;overflow:visible;z-index:-1;position:static}
.post-box-table .ufb-dataTable-header-cell:hover{cursor:pointer}
.post-box-table .ufb-dataTable-header-row .ufb-dataTable-header-text{white-space:normal;overflow:visible;height:auto}
.post-box-table .ufb-dataTable-header-cell sup{padding-left:3px;vertical-align:top}
.post-box-table .ufb-dataTable-container{overflow:visible}
.post-box-table .ufb-dataTable-pack .ufb-dataList-row, .post-box-table .ufb-dataTable-pack .ufb-dataList-row_odd, .post-box-table .ufb-dataTable-row_selected, .post-box-table .ufb-dataList_blured .ufb-dataTable-row_selected{background:none;color:#333}
.post-box-table .ufb-dataTable-cell{border-bottom:1px solid #e7e7e7;border-right:1px solid #fff}
.post-box-table .ufb-dataTable-cell-wrap{padding:10px 6px;height:20px}
.post-box-table .ufb-dataList_blured .ufb-dataTable-row_selected .ufb-dataTable-cell{border-color:#e7e7e7;border-right-color:#fff}
.post-box-table .ufb-dataTable-row_selected + .ufb-dataTable-row_selected .ufb-dataTable-cell{border-top-color:transparent}
.post-box-table td.post-date{overflow:visible}
.post-box-icon{position:absolute;width:16px;left:0;top:0;vertical-align:middle}
.post-box-message{padding:1px 0 1px 21px;position:relative;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display:block}
.post-box-inline-bar-graph{background-color:#d7dfea}
.post-box-inline-bar-graph .inline-bar-graph-value{padding:3px 4px;white-space:nowrap}
.story_type_selector .story_type_icon{margin-right:5px}
.older-posts-container{margin-top:20px}
.older-posts-content{display:block;background-color:#edeff4;border:1px solid #d8dfea;padding:10px 15px}
.older-posts-hoverable:hover{background-color:#d8dfea}
.older-posts-container .loading-icon{text-align:center}
.empty-post-box{position:relative;border-bottom:1px solid #e7e7e7;color:gray;padding:14px 15px}
.post-preview-close-button{float:right;position:relative}
.promoteButton{height:16px;width:9px}
.post-box-table .promoteButton .customImg{margin-top:5px}
.post-box-table .promoteButton.inactive .customImg{margin-top:3px}
.post-preview{max-height:300px;overflow:scroll;padding:10px}
.post-preview-content{word-break:break-word}
.post-preview-message{margin:0 0 5px 0;color:#000}
.post-preview-actor-name{font-weight:bold;padding-bottom:3px}
.post-preview-attachments{margin:10px 0;color:gray}
.post-preview-attachments img{max-width:121px;max-height:121px}
.post-preview .attachment-title{font-weight:bold}
.post-preview .attachment-description{margin-top:5px}
.post-preview-footer .post-permalink{display:inline-block}
.post-preview-footer .post-permalink,
.post-preview-footer .post-icon,
.post-preview-footer .view-post-text,
.post-preview-footer .privacy-icon{float:left}
.post-preview-footer .post-icon{margin-right:5px}
.post-preview-footer .privacy-icon{margin-left:10px}
.post-preview-footer .privacy-icon{margin-top:1px;display:inline-block;width:12px;height:12px;background-repeat:no-repeat}
.post-preview-footer .privacy-everyone{background-image:url(/rsrc.php/v2/yk/r/W2m-HTwZgQ7.png);background-position-x:-13px}
.post-preview-footer .privacy-custom{background-image:url(/rsrc.php/v2/y-/r/GfxJ1GTv3HC.png);background-position-x:-13px}
.post-preview-profile-img img{width:50px;height:50px}
.post-preview-footer .post-preview-footer-content{overflow:visible}

#bootloader_olMsQ { height: 42px; }
.bootloader_olMsQ { display:block !important; }