h2.heading{
  text-decoration:underline;
  padding-left: 20px;
}

body{
  margin: 0;
  padding: 0
}

p{
  padding-left: 20px;
  padding-right: 20px;
}

p.small_heading{
  text-decoration: underline;
  font-weight: bold;
}

.thumb{
  /*width: 250px;
  height: 190px;*/
  text-align: center;
}