.click_img{
	cursor: pointer;
}

.input_label:HOVER{
	color:#FA3200;
	text-decoration:underline; 
}
.input_label{
	text-align: center;
	font-size:17px;
}

body {
	font: 100% verdana, ariel, helvetica;
}

.login_tbl{
	border: 1px solid black;
	background: #FFF;
}

.login_tbl td {
	padding:8px;
}

.shadowdiv{
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}

.app_table td {
	padding: 8px;
}

.app_table{
	background: #FFF;
	font: 90% verdana, ariel, helvetica;
}

.heading-row-title{
	background-color: #ABABAB;
	height: 50px;
	font-size: large;
	font-weight: bold;
}

.heading-row{
	font-weight: bold;
	background: #d2d2d2;
	height: 50px;
}

.tblr{
	background-color: #FFF;
}

.tblr:HOVER{
	background-color: #F0F0F0;
}


.narow_td{
	width: 48px;
}

.main-td{
	background-color: #d2d2d2;
}


button{
	text-align: center;
	font-size:17px;
}

button:hover{
	color:#FA3200;
	text-decoration:underline; 
}